Repository Lucid-Directions/cashapp-fynlo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, black, isort, flake8

fix: resolve deployment issues - syntax errors and database configuration
  .claude/agents/development-agent.md
  .claude/agents/documentation-agent.md
  .claude/agents/planning-agent.md
  .claude/agents/research-agent.md
  .claude/agents/setup-agent.md
  .claude/agents/testing-agent.md
  .claude/agents/version-control-agent.md
  backend/app/api/v1/endpoints/payments.py
  backend/app/core/database_security.py
Due: black, isort, flake8

docs: add comprehensive cleanup summary and progress tracking
  backend/CLEANUP_SUMMARY.md
Due: none

docs: update CLAUDE.md with new development agents
  CLAUDE.md
Due: none

fix: correct syntax error on line 561 in payments.py
  backend/app/api/v1/endpoints/payments.py
Due: black, isort, flake8

feat: add ESLint infrastructure for React Native project
  CashApp-iOS/CashAppPOS/.eslintignore
  CashApp-iOS/CashAppPOS/.eslintrc.js
  CashApp-iOS/CashAppPOS/.prettierrc.json
  CashApp-iOS/CashAppPOS/package-lock.json
  CashApp-iOS/CashAppPOS/package.json
  CashApp-iOS/CashAppPOS/tsconfig.json
Due: eslint --fix

fix: update Prettier scripts to include root-level files
  CashApp-iOS/CashAppPOS/.prettierignore
  CashApp-iOS/CashAppPOS/package.json
Due: none

chore: placeholder commit for PR creation
  .eslint-placeholder
Due: none

fix: resolve syntax errors for 100% code quality
  backend/app/schemas/search_schemas.py
  backend/app/services/payment_providers/payment_factory.py
  backend/app/services/platform_fee_service.py
  backend/app/services/service_charge_calculator.py
  backend/app/services/staff_tip_service.py
Due: black, isort, flake8

fix: resolve 20+ TypeScript ESLint issues across test and utility files
  CashApp-iOS/CashAppPOS/App.tsx
  CashApp-iOS/CashAppPOS/__mocks__/react-native-vector-icons.js
  CashApp-iOS/CashAppPOS/__tests__/components/EnhancedPOSScreen.test.tsx
  CashApp-iOS/CashAppPOS/__tests__/services/SecurePaymentConfig.test.ts
  CashApp-iOS/CashAppPOS/__tests__/services/SecurePaymentOrchestrator.test.ts
  CashApp-iOS/CashAppPOS/__tests__/simple-test.test.ts
  CashApp-iOS/CashAppPOS/__tests__/testSetup.ts
  CashApp-iOS/CashAppPOS/src/utils/testingUtils.ts
  CashApp-iOS/CashAppPOS/src/utils/tokenManager.ts
  CashApp-iOS/CashAppPOS/tasks/todo.md
  CashApp-iOS/CashAppPOS/typescript-issues.txt
  lint-output.txt
Due: eslint --fix

fix: resolve TypeScript configuration and require-imports issues
  CashApp-iOS/CashAppPOS/.eslintrc.js
  CashApp-iOS/CashAppPOS/src/screens/payments/SquareCardPaymentScreen.tsx
  CashApp-iOS/CashAppPOS/tsconfig.json
Due: eslint --fix

fix: bulk fix TypeScript ESLint issues
  CashApp-iOS/CashAppPOS/fix-explicit-any.js
  CashApp-iOS/CashAppPOS/fix-unused-vars.js
  CashApp-iOS/CashAppPOS/src/__tests__/OnboardingNavigationTests.tsx
  CashApp-iOS/CashAppPOS/src/__tests__/integration/api.test.ts
  CashApp-iOS/CashAppPOS/src/__tests__/performance/performance.test.ts
  CashApp-iOS/CashAppPOS/src/components/modals/ReceiptScanModal.tsx
  CashApp-iOS/CashAppPOS/src/contexts/SubscriptionContext.tsx
  CashApp-iOS/CashAppPOS/src/hooks/usePerformanceMonitor.ts
  CashApp-iOS/CashAppPOS/src/screens/analytics/PaymentAnalyticsScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/auth/SignInScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/auth/SignUpScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/employees/EmployeeScheduleScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/RestaurantPlatformOverridesScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/app/MenuManagementScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/DataService.ts
  CashApp-iOS/CashAppPOS/src/services/ErrorTrackingService.ts
  CashApp-iOS/CashAppPOS/src/services/PaymentService.ts
  CashApp-iOS/CashAppPOS/src/services/PlatformPaymentService.ts
  CashApp-iOS/CashAppPOS/src/services/PlatformService.ts
  CashApp-iOS/CashAppPOS/src/services/RealUserManagementService.ts
  CashApp-iOS/CashAppPOS/src/services/SimpleErrorTrackingService.ts
  CashApp-iOS/CashAppPOS/src/services/XeroApiClient.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/DatabaseService.test.ts
  CashApp-iOS/CashAppPOS/src/types/xero.ts
  CashApp-iOS/CashAppPOS/src/utils/ErrorLogger.ts
  CashApp-iOS/CashAppPOS/src/utils/errorHandler.ts
  CashApp-iOS/CashAppPOS/src/utils/navigationDebug.ts
  CashApp-iOS/CashAppPOS/src/utils/priceValidation.ts
Due: eslint --fix

fix: resolve TypeScript type narrowing errors identified by Cursor Bot
  CashApp-iOS/CashAppPOS/src/screens/onboarding/__tests__/ComprehensiveRestaurantOnboardingScreen.integration.test.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/business/OperatingHoursScreen.tsx
Due: eslint --fix

fix: remove duplicate imports in POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
Due: eslint --fix

fix: revert ES6 imports to require() for conditional loading
  CashApp-iOS/CashAppPOS/src/screens/payments/SquareContactlessPaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/SquareService.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/DatabaseService.test.ts
Due: eslint --fix

fix: migrate HTTPException to FynloException in core files and middleware (◆ PR 1/4)
  backend/PR_GUARDIAN_SCAN_REPORT.json
  backend/app/api/v1/endpoints/employees.py
  backend/app/api/v1/endpoints/exports.py
  backend/app/api/v1/endpoints/menu_optimized.py
  backend/app/core/exceptions.py
  backend/app/core/two_factor_auth.py
  backend/app/main.py
  backend/app/middleware/feature_gate.py
  backend/app/middleware/rate_limit_middleware.py
  backend/backend/PR_GUARDIAN_SCAN_REPORT.json
  backend/minimal_app.py
  backend/scripts/run_pr_guardian.py
Due: black, isort, flake8

fix: complete HTTPException to FynloException migration in all backend files (◆ PR 1/4)
  backend/PR_GUARDIAN_SCAN_REPORT.json
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/config.py
  backend/app/api/v1/endpoints/menu_optimized.py
  backend/app/api/v1/endpoints/orders.py
  backend/app/api/v1/endpoints/payments.py
  backend/app/api/v1/endpoints/platform_settings.py
  backend/app/api/v1/endpoints/pos.py
  backend/app/api/v1/endpoints/sumup.py
  backend/app/api/v1/subscriptions.py
  backend/app/core/exceptions.py
  backend/test_transaction_management.py
Due: black, isort, flake8

fix: complete console statement replacement with logger utility
  CashApp-iOS/CashAppPOS/src/config/api.ts
  CashApp-iOS/CashAppPOS/src/design-system/ThemeProvider.tsx
  CashApp-iOS/CashAppPOS/src/hooks/usePerformanceMonitor.ts
  CashApp-iOS/CashAppPOS/src/hooks/useWebSocket.ts
  CashApp-iOS/CashAppPOS/src/lib/supabase.ts
  CashApp-iOS/CashAppPOS/src/navigation/AppNavigator.tsx
Due: eslint --fix

chore: initial commit for PR 4a - Core UI Components
  CashApp-iOS/CashAppPOS/PR_4a_TODO.md
Due: none

chore: initial commit for PR 4b - Main Screens
  CashApp-iOS/CashAppPOS/PR_4b_TODO.md
Due: none

chore: initial commit for PR 4c - Settings & Management
  CashApp-iOS/CashAppPOS/PR_4c_TODO.md
Due: none

chore: initial commit for PR 4d - Auth/Payment/Onboarding
  CashApp-iOS/CashAppPOS/PR_4d_TODO.md
Due: none

chore: initial commit for PR 4e - Remaining Components
  CashApp-iOS/CashAppPOS/PR_4e_TODO.md
Due: none

fix: resolve React Native inline style warnings in core UI components
  CashApp-iOS/CashAppPOS/src/components/accessibility/AccessibleView.tsx
  CashApp-iOS/CashAppPOS/src/components/cart/CartIcon.tsx
  CashApp-iOS/CashAppPOS/src/components/layout/Container.tsx
  CashApp-iOS/CashAppPOS/src/components/layout/ResponsiveGrid.tsx
  CashApp-iOS/CashAppPOS/src/components/modals/ReceiptScanModal.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/QRCodePayment.tsx
  CashApp-iOS/CashAppPOS/src/components/performance/OptimizedFlatList.tsx
  CashApp-iOS/CashAppPOS/src/components/performance/SkeletonLoader.tsx
  CashApp-iOS/CashAppPOS/src/components/settings/ToggleSwitch.tsx
  CashApp-iOS/CashAppPOS/src/components/theme/ThemeSwitcher.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/RecipeFormScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/user/ThemeOptionsScreen.tsx
Due: eslint --fix

fix: restore original ResponsiveGrid margin behavior for all rows
  CashApp-iOS/CashAppPOS/src/components/layout/ResponsiveGrid.tsx
Due: eslint --fix

fix: remove ~250 React Native style warnings from main screens
  CashApp-iOS/CashAppPOS/src/screens/main/DashboardScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/OrdersScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/ProfileScreen.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  black: any of: backend/**/*.py
  isort: any of: backend/**/*.py
  flake8: any of: backend/**/*.py
