Repository Lucid-Directions/cashapp-fynlo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, black, isort, flake8

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": [],
  "backend/**/*.py": ["black", "isort", "flake8"]
}

fix: add missing SUMUP_ENVIRONMENT to deployment specs
  backend/deploy/docker-compose.yml
  backend/deploy/spec.yaml
Due: none

debug: show actual SUMUP_ENVIRONMENT value
  backend/app/core/config.py
Due: black, isort, flake8

Add better debug logging for SUMUP_ENVIRONMENT
  backend/app/core/config.py
Due: black, isort, flake8

docs: add phase 1 style warning fix plan for issue #519
  DOCS/style-fixes/phase1-plan.md
Due: none

docs: add phase 2 import/export fixes plan
  DOCS/style-fixes/phase2-plan.md
Due: none

docs: phase 3 navigation plan
  DOCS/style-fixes/phase3-plan.md
Due: none

docs: phase 4
  DOCS/style-fixes/phase4-plan.md
Due: none

docs: phase 5
  DOCS/style-fixes/phase5-plan.md
Due: none

fix: implement WebSocket exponential backoff with jitter
  CashApp-iOS/CashAppPOS/src/components/WebSocketStatus.tsx
  CashApp-iOS/CashAppPOS/src/hooks/useWebSocketStatus.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/__tests__/reconnection.test.ts
  backend/app/api/v1/endpoints/websocket.py
  backend/app/core/websocket_rate_limiter.py
  backend/tests/test_websocket_exponential_backoff.py
  shared/src/utils/__tests__/exponentialBackoff.test.ts
  shared/src/utils/exponentialBackoff.ts
  web-platform/src/components/websocket/ConnectionStatus.tsx
  web-platform/src/components/websocket/index.ts
  web-platform/src/hooks/useWebSocketConnection.ts
  web-platform/src/services/websocket/PlatformWebSocketService.ts
Due: eslint --fix, black, isort, flake8

fix: correct ExponentialBackoff constructor call and escape sequences
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
  web-platform/src/services/websocket/PlatformWebSocketService.ts
Due: eslint --fix

fix: reduce React Native style warnings from 575 to 56
  .claude/agents/github/pr-conflict-resolver.md
  .claude/agents/github/version-control-agent.md
  .claude/agents/pos-operations/order-flow-orchestrator.md
  .claude/agents/security/fynlo-security-auditor.md
  .claude/agents/testing/pos-scenario-tester.md
  CashApp-iOS/CashAppPOS/scripts/fix-remaining-style-warnings.js
  CashApp-iOS/CashAppPOS/src/components/cart/ItemModificationModal.tsx
  CashApp-iOS/CashAppPOS/src/components/cart/SplitBillGroupCard.tsx
  CashApp-iOS/CashAppPOS/src/components/layout/Container.tsx
  CashApp-iOS/CashAppPOS/src/components/layout/ResponsiveGrid.tsx
  CashApp-iOS/CashAppPOS/src/components/modals/CreateUserModal.tsx
  CashApp-iOS/CashAppPOS/src/components/modals/EditUserModal.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/SecurePaymentMethodSelector.tsx
  CashApp-iOS/CashAppPOS/src/components/pos/CustomItemEntry.tsx
  CashApp-iOS/CashAppPOS/src/components/subscription/SubscriptionStatusBadge.tsx
  CashApp-iOS/CashAppPOS/src/components/ui/List.tsx
  CashApp-iOS/CashAppPOS/src/components/ui/Modal.tsx
  CashApp-iOS/CashAppPOS/src/screens/auth/ForgotPasswordScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/auth/SignInScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/auth/SignUpScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/employees/EmployeesScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/inventory/InventoryScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen_old.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/ProfileScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/SettingsScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/more/MoreScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/orders/OrdersScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/EnhancedPaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/ServiceChargeSelectionScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/reports/FinancialReportDetailScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/RestaurantPlatformOverridesScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/app/MenuManagementScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/business/BankDetailsScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/business/BusinessInformationScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/business/TaxConfigurationScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/user/UserProfileScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/table/TableManagementScreen.tsx
Due: eslint --fix

fix: reduce React Native style warnings from 56 to 54
  CashApp-iOS/CashAppPOS/remaining-warnings.txt
  CashApp-iOS/CashAppPOS/scripts/fix-all-remaining-warnings.js
  CashApp-iOS/CashAppPOS/scripts/fix-final-style-warnings.js
  CashApp-iOS/CashAppPOS/scripts/manual-fix-remaining-warnings.sh
  CashApp-iOS/CashAppPOS/src/components/payment/QRCodePayment.tsx
  CashApp-iOS/CashAppPOS/src/screens/employees/EmployeesScreen.tsx
Due: eslint --fix

fix: emergency revert of broken style automation
  CashApp-iOS/CashAppPOS/src/components/payment/SecurePaymentMethodSelector.tsx
  CashApp-iOS/CashAppPOS/src/components/subscription/SubscriptionStatusBadge.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/ProfileScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/more/MoreScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/orders/OrdersScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/ServiceChargeSelectionScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/RestaurantPlatformOverridesScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/app/MenuManagementScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/user/UserProfileScreen.tsx
Due: eslint --fix

fix: container and responsive grid style issues identified by Cursor bot
  CashApp-iOS/CashAppPOS/src/components/layout/Container.tsx
  CashApp-iOS/CashAppPOS/src/components/layout/ResponsiveGrid.tsx
Due: eslint --fix

WIP: style warning fixes and eslint updates
  .claude/agents/testing/fynlo-test-runner.md
  CLAUDE.md
  CashApp-iOS/CashAppPOS/.eslintrc-fixed.js
  CashApp-iOS/CashAppPOS/.eslintrc-optimized.js
  CashApp-iOS/CashAppPOS/current-warnings.txt
  CashApp-iOS/CashAppPOS/scripts/add-eslint-comments.js
  CashApp-iOS/CashAppPOS/scripts/fix-all-remaining-style-warnings.js
  CashApp-iOS/CashAppPOS/scripts/fix-react-native-warnings-final.js
  CashApp-iOS/CashAppPOS/scripts/monthly-style-cleanup.sh
  CashApp-iOS/CashAppPOS/src/components/layout/Container.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/ProfileScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/more/MoreScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/orders/OrdersScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/ServiceChargeSelectionScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/RestaurantPlatformOverridesScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/app/MenuManagementScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/user/UserProfileScreen.tsx
  CashApp-iOS/CashAppPOS/style-cleanup-report-2025-08-05.txt
Due: eslint --fix

fix: re-enable and optimize security middleware (issue #389)
  CashApp-iOS/CashAppPOS/.eslintrc.js
  backend/MIDDLEWARE_ENABLEMENT_REPORT.md
  backend/app/main.py
  backend/app/middleware/security_headers_middleware.py
  backend/app/middleware/version_middleware.py
Due: eslint --fix, black, isort, flake8

feat: implement automatic WebSocket token refresh (closes #363)
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
  CashApp-iOS/CashAppPOS/src/types/websocket.ts
  backend/WEBSOCKET_TOKEN_REFRESH_IMPLEMENTATION.md
  backend/app/api/v1/endpoints/websocket_enhanced.py
  backend/app/core/auth.py
  backend/app/schemas/websocket.py
Due: eslint --fix, black, isort, flake8

fix: critical WebSocket token refresh bugs identified by Cursor bot
  CashApp-iOS/CashAppPOS/src/types/websocket.ts
  backend/app/api/v1/endpoints/websocket_enhanced.py
Due: eslint --fix, black, isort, flake8

fix: prevent duplicate WebSocket token expiry warnings
  backend/app/api/v1/endpoints/websocket_enhanced.py
Due: black, isort, flake8

fix: prevent WebSocket token listener memory leak
  CLAUDE.md
  CONTEXT.md
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
Due: eslint --fix

feat: set up comprehensive frontend testing infrastructure
  CashApp-iOS/CashAppPOS/TESTING_GUIDE.md
  CashApp-iOS/CashAppPOS/__mocks__/@react-native-community/netinfo.js
  CashApp-iOS/CashAppPOS/__mocks__/react-native-get-random-values.js
  CashApp-iOS/CashAppPOS/__tests__/testSetup.ts
  CashApp-iOS/CashAppPOS/babel.config.js
  CashApp-iOS/CashAppPOS/jest.integration.config.js
  CashApp-iOS/CashAppPOS/jest.unit.config.js
  CashApp-iOS/CashAppPOS/package-lock.json
  CashApp-iOS/CashAppPOS/package.json
  CashApp-iOS/CashAppPOS/src/components/WebSocketStatus.tsx
  CashApp-iOS/CashAppPOS/src/hooks/useWebSocketStatus.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/__tests__/reconnection.test.ts
Due: eslint --fix

fix: resolve critical menu loading issue blocking POS functionality (#396)
  CashApp-iOS/CashAppPOS/src/services/DataService.ts
  CashApp-iOS/CashAppPOS/test-menu-loading.js
  MENU_LOADING_FIX_SUMMARY.md
Due: eslint --fix

fix: address Cursor bot review - respect feature flags and ensure array returns
  CashApp-iOS/CashAppPOS/src/services/DataService.ts
Due: eslint --fix

fix: properly restore menu fallback mechanism per Cursor bot feedback
  CashApp-iOS/CashAppPOS/src/services/DataService.ts
  MENU_LOADING_FIX_SUMMARY.md
Due: eslint --fix

fix: establish frontend test infrastructure from 0% to 76% passing (#365)
  CashApp-iOS/CashAppPOS/__mocks__/@fynlo/shared/src/utils/exponentialBackoff.js
  CashApp-iOS/CashAppPOS/__mocks__/@fynlo/shared/src/utils/exponentialBackoff.ts
  CashApp-iOS/CashAppPOS/__mocks__/@react-native-async-storage/async-storage.js
  CashApp-iOS/CashAppPOS/__mocks__/@react-native-community/netinfo.js
  CashApp-iOS/CashAppPOS/__mocks__/config/api.ts
  CashApp-iOS/CashAppPOS/__mocks__/fileMock.js
  CashApp-iOS/CashAppPOS/__mocks__/react-native-get-random-values.js
  CashApp-iOS/CashAppPOS/__mocks__/react-native-vector-icons.js
  CashApp-iOS/CashAppPOS/__tests__/testSetup.ts
  CashApp-iOS/CashAppPOS/jest.unit.config.js
  CashApp-iOS/CashAppPOS/package.json
  CashApp-iOS/CashAppPOS/scripts/fix-all-tests-fast.sh
  CashApp-iOS/CashAppPOS/scripts/fix-remaining-55-tests.sh
  CashApp-iOS/CashAppPOS/scripts/fix-tests-bulk.sh
  CashApp-iOS/CashAppPOS/src/__tests__/testUtils.tsx
  CashApp-iOS/CashAppPOS/src/__tests__/utils/testUtils.tsx
  CashApp-iOS/CashAppPOS/src/components/ErrorBoundary.tsx
  CashApp-iOS/CashAppPOS/src/components/__tests__/CartIcon.test.tsx
  CashApp-iOS/CashAppPOS/src/components/__tests__/ErrorBoundary.test.tsx
  CashApp-iOS/CashAppPOS/src/screens/auth/__tests__/LoginScreen.test.tsx
  CashApp-iOS/CashAppPOS/src/screens/employees/EnhancedEmployeeScheduleScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/__tests__/POSScreen.test.tsx
  CashApp-iOS/CashAppPOS/src/screens/orders/__tests__/OrdersScreen.test.tsx
  CashApp-iOS/CashAppPOS/src/services/ErrorTrackingService.ts
  CashApp-iOS/CashAppPOS/src/services/ModificationPricingService.ts
  CashApp-iOS/CashAppPOS/src/services/SplitBillService.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/APIIntegration.test.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/DatabaseService.test.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/ModificationPricingService.test.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/SplitBillService.test.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/__tests__/EnhancedWebSocketService.test.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/__tests__/reconnection.test.ts
  CashApp-iOS/CashAppPOS/src/types/cart.ts
  CashApp-iOS/CashAppPOS/src/utils/__tests__/modificationHelpers.test.ts
  CashApp-iOS/CashAppPOS/src/utils/__tests__/splitBillHelpers.test.ts
  CashApp-iOS/CashAppPOS/src/utils/cartMigration.ts
  CashApp-iOS/CashAppPOS/src/utils/modificationHelpers.ts
  CashApp-iOS/CashAppPOS/src/utils/priceValidation.ts
  CashApp-iOS/CashAppPOS/src/utils/splitBillHelpers.ts
Due: eslint --fix

fix: comprehensive test infrastructure improvements and bug fixes
  CashApp-iOS/CashAppPOS/Oops.rej
  CashApp-iOS/CashAppPOS/__mocks__/@fynlo/shared/src/utils/exponentialBackoff.js
  CashApp-iOS/CashAppPOS/__mocks__/@fynlo/shared/src/utils/exponentialBackoff.ts
  CashApp-iOS/CashAppPOS/__mocks__/SharedDataStore.js
  CashApp-iOS/CashAppPOS/__mocks__/storeMocks.js
  CashApp-iOS/CashAppPOS/__mocks__/websocket-events.js
  CashApp-iOS/CashAppPOS/__tests__/testSetup.ts
  CashApp-iOS/CashAppPOS/scripts/fix-remaining-tests.sh
  CashApp-iOS/CashAppPOS/scripts/fix-store-mocking.sh
  CashApp-iOS/CashAppPOS/src/__tests__/performance/performance.test.ts
  CashApp-iOS/CashAppPOS/src/__tests__/utils/renderWithProviders.tsx
  CashApp-iOS/CashAppPOS/src/__tests__/utils/testProviders.tsx
  CashApp-iOS/CashAppPOS/src/__tests__/utils/testUtils.tsx
  CashApp-iOS/CashAppPOS/src/components/__tests__/CartIcon.test.tsx
  CashApp-iOS/CashAppPOS/src/components/__tests__/ErrorBoundary.test.tsx
  CashApp-iOS/CashAppPOS/src/hooks/useItemModifications.ts
  CashApp-iOS/CashAppPOS/src/screens/auth/__tests__/LoginScreen.test.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/__tests__/POSScreen.test.tsx
  CashApp-iOS/CashAppPOS/src/screens/orders/__tests__/OrdersScreen.test.tsx
  CashApp-iOS/CashAppPOS/src/services/SplitBillService.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/DatabaseService.test.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/__tests__/reconnection.test.ts
  CashApp-iOS/CashAppPOS/src/utils/modificationHelpers.ts
  CashApp-iOS/CashAppPOS/src/utils/splitBillHelpers.ts
  CashApp-iOS/CashAppPOS/temp_netinfo_fix.txt
  CashApp-iOS/CashAppPOS/websocket_polyfills.txt
Due: eslint --fix

test: improve test infrastructure from 66% to 72% pass rate (+30 tests)
  CONTEXT.md
  CashApp-iOS/CashAppPOS/Oops.rej.orig
  CashApp-iOS/CashAppPOS/__mocks__/storeMocks.js
  CashApp-iOS/CashAppPOS/__tests__/components/EnhancedPOSScreen.test.tsx.disabled
  CashApp-iOS/CashAppPOS/__tests__/services/SecurePaymentConfig.test.ts
  CashApp-iOS/CashAppPOS/__tests__/services/SecurePaymentOrchestrator.test.ts.disabled
  CashApp-iOS/CashAppPOS/__tests__/testSetup.ts
  CashApp-iOS/CashAppPOS/__tests__/utils/errorHandler.test.ts
  CashApp-iOS/CashAppPOS/fix_test_plan.md
  CashApp-iOS/CashAppPOS/src/components/common/EmptyState.tsx
  CashApp-iOS/CashAppPOS/src/hooks/__tests__/useSplitBill.test.ts
  CashApp-iOS/CashAppPOS/src/screens/auth/__tests__/LoginScreen.test.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/__tests__/__snapshots__/POSScreen.test.tsx.snap
  CashApp-iOS/CashAppPOS/src/store/__tests__/useAppStore.test.ts
  CashApp-iOS/CashAppPOS/src/store/__tests__/useUIStore.test.ts
  CashApp-iOS/CashAppPOS/src/utils/__tests__/modificationHelpers.test.ts
  CashApp-iOS/CashAppPOS/src/utils/errorHandler.ts
  CashApp-iOS/CashAppPOS/src/utils/modificationHelpers.ts
  CashApp-iOS/CashAppPOS/test_status_report.md
  TEST_INFRASTRUCTURE_CONTEXT.md
Due: eslint --fix

fix: resolve critical menu loading issue #396
  CashApp-iOS/CashAppPOS/src/screens/main/__tests__/POSScreen.menuLoading.test.tsx
  CashApp-iOS/CashAppPOS/src/services/DatabaseService.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/DatabaseService.menuLoading.test.ts
Due: eslint --fix

fix: add NaN check for price conversion and improve type safety
  CashApp-iOS/CashAppPOS/src/services/DatabaseService.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/DatabaseService.menuLoading.test.ts
Due: eslint --fix

fix: correct test assertion for price conversion
  CashApp-iOS/CashAppPOS/src/services/__tests__/DatabaseService.menuLoading.test.ts
Due: eslint --fix

fix: critical TypeScript compilation errors and test infrastructure
  CashApp-iOS/CashAppPOS/Oops.rej.orig
  CashApp-iOS/CashAppPOS/__tests__/testSetup.ts
  CashApp-iOS/CashAppPOS/__tests__/testSetup.ts.bak
  CashApp-iOS/CashAppPOS/src/services/__tests__/DatabaseService.test.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/__mocks__/WebSocketService.ts
  CashApp-iOS/CashAppPOS/src/test-utils/mockHelpers.ts
Due: eslint --fix

docs: add comprehensive test status report
  TEST_STATUS_REPORT.md
Due: none

feat: enable integration tests for production readiness
  CashApp-iOS/CashAppPOS/scripts/enable-integration-tests.sh
  CashApp-iOS/CashAppPOS/src/__tests__/helpers/apiTestHelper.ts
  CashApp-iOS/CashAppPOS/src/__tests__/integration/api.test.ts
  CashApp-iOS/CashAppPOS/src/__tests__/performance/performance.test.ts
  CashApp-iOS/CashAppPOS/src/integration/health.test.ts
  CashApp-iOS/CashAppPOS/src/screens/onboarding/__tests__/ComprehensiveRestaurantOnboardingScreen.integration.test.tsx
  CashApp-iOS/CashAppPOS/src/services/websocket/__tests__/websocket.integration.test.ts
  WHY_TESTS_WERE_SKIPPED.md
Due: eslint --fix

fix: create proper test infrastructure with real Supabase + DigitalOcean
  CashApp-iOS/CashAppPOS/src/__tests__/config/test.config.ts
  CashApp-iOS/CashAppPOS/src/__tests__/helpers/realApiTestHelper.ts
Due: eslint --fix

docs: add critical context document for PR #543
  PR_543_CRITICAL_CONTEXT.md
Due: none

docs: preserve critical test infrastructure context from PR #543
  DOCS/current-implementation/PR_543_CRITICAL_CONTEXT.md
  DOCS/current-implementation/TEST_STATUS_REPORT.md
  DOCS/current-implementation/WHY_TESTS_WERE_SKIPPED.md
Due: none
