Repository Lucid-Directions/cashapp-fynlo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, black, isort, flake8

feat: enhance code quality infrastructure
  .github/pull_request_template/typescript_strict.md
  .github/workflows/code-quality-check.yml
  .pre-commit-config.yaml
  backend/.mcp-python-linting.json
  backend/setup-mcp-linting.sh
  backend/syntax-check-with-mcp.py
Due: black, isort, flake8

chore: initiate TypeScript strict mode migration
  .typescript-strict-migration.md
Due: none

chore: initiate React hooks dependency fixes
  .react-hooks-migration.md
Due: none

chore: initiate console and TODO cleanup
  .console-todo-cleanup.md
Due: none

fix: resolve CI workflow issues
  .github/workflows/code-quality-check.yml
  CashApp-iOS/CashAppPOS/package.json
  CashApp-iOS/CashAppPOS/src/__tests__/performance/performance.test.ts
Due: eslint --fix

fix: resolve CI dependency and linting issues
  .github/workflows/code-quality-check.yml
  CashApp-iOS/CashAppPOS/package.json
Due: none

fix: resolve remaining CI issues
  .github/workflows/code-quality-check.yml
  backend/app/api/mobile/endpoints.py
Due: black, isort, flake8

fix: final CI adjustments
  .github/workflows/code-quality-check.yml
Due: none

fix: make CI checks non-blocking during code quality transition
  .github/workflows/code-quality-check.yml
Due: none

fix: make console statements check non-blocking during transition
  .github/workflows/code-quality-check.yml
Due: none

fix: make console statements check non-blocking
  .github/workflows/code-quality-check.yml
Due: none

docs: update CLAUDE.md with latest tools and code quality initiative
  CLAUDE.md
Due: none

docs: add setup guide for Ryan with required tools
  RYAN_SETUP.md
Due: none

docs: comprehensive update with latest tools and code quality initiative
  CLAUDE.md
  RYAN_SETUP.md
Due: none

fix: replace hardcoded secrets with environment variables (PR 2/4)
  backend/app/services/payment_providers/cash_provider.py
  backend/run_test.sh
  backend/scripts/run_pr_guardian.py
  backend/test_auth.py
  backend/test_auth_flow.py
  backend/test_authentication_security.py
  backend/test_mobile_compatibility.py
  backend/test_prod_auth.py
  backend/test_standardized_responses.py
  backend/test_supabase_auth.py
  backend/tests/api/v1/test_orders_customer_info.py
  backend/tests/fixtures/auth.py
  backend/tests/security/test_authentication.py
  backend/tests/security/test_sql_injection_comprehensive.py
  backend/tests/test_fynlo_exception_migration.py
  backend/tests/test_helpers.py
  backend/tests/test_multitenant_api_isolation.py
  backend/tests/test_multitenant_isolation.py
  backend/tests/test_patterns_guide.py
  backend/tests/test_payment_providers.py
  backend/tests/test_rate_limiting.py
  backend/tests/test_secure_payment_config.py
  backend/tests/test_secure_payment_processor.py
  backend/tests/test_security.py
  backend/tests/test_security_enhancements_pr414.py
  backend/tests/unit/test_payment_providers.py
Due: black, isort, flake8

chore: cherry-pick batch 1 from PR #467
  .claude/agents/development-agent.md
  .claude/agents/documentation-agent.md
  .claude/agents/fynlo-api-optimizer.md
  .claude/agents/fynlo-bundle-deployer.md
  .claude/agents/fynlo-code-hygiene-agent.md
  .claude/agents/fynlo-infrastructure-manager.md
  .claude/agents/fynlo-platform-integrator.md
  .claude/agents/fynlo-pos-payment-agent.md
  .claude/agents/fynlo-security-auditor.md
  .claude/agents/fynlo-test-runner.md
  .claude/agents/fynlo-websocket-debugger.md
  .claude/agents/planning-agent.md
  .claude/agents/research-agent.md
  .claude/agents/setup-agent.md
  .claude/agents/testing-agent.md
  .claude/agents/version-control-agent.md
  .mcp.json
  backend/alembic/versions/001_add_username_to_users.py
  scripts/analyze-pr467-conflicts.js
  scripts/cherry-pick-pr467-safe-files.sh
  scripts/cherry-pick-pr467-targeted.sh
  scripts/pr467-safe-files.txt
  tasks/PR-467-resolution-plan.md
Due: eslint --fix, black, isort, flake8

chore: cherry-pick batch 2 from PR #467
  backend/alembic/versions/010_add_row_level_security.py
  backend/alembic/versions/1d25e080d454_convert_monetary_fields_from_float_to_.py
  backend/app/api/mobile/endpoints.py
  backend/app/api/v1/endpoints/config.py
  backend/app/api/v1/endpoints/employees.py
  backend/app/api/v1/endpoints/exports.py
  backend/app/api/v1/endpoints/menu_optimized.py
  backend/app/api/v1/endpoints/platform_settings.py
  backend/app/api/v1/endpoints/pos.py
  backend/app/api/v1/endpoints/restaurants.py
  backend/app/api/v1/endpoints/sumup.py
  backend/app/api/v1/subscriptions.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/core/exceptions.py
  backend/app/core/mobile_id_mapping.py
  backend/app/core/responses.py
  backend/app/core/security.py
  backend/app/core/transaction_manager.py
  backend/app/core/two_factor_auth.py
  backend/app/main.py
  backend/app/middleware/feature_gate.py
  backend/app/middleware/rate_limit_middleware.py
Due: black, isort, flake8

chore: cherry-pick batch 3 from PR #467
  backend/CURSOR_BOT_FIXES_SUMMARY.md
  backend/Dockerfile
  backend/FYNLO_EXCEPTION_MIGRATION_TEST_REPORT.md
  backend/app/middleware/tenant_isolation_middleware.py
  backend/app/models/stock_movement.py
  backend/app/schemas/auth.py
  backend/app/services/instance_tracker.py
  backend/app/services/payment_providers/cash_provider.py
  backend/app/services/platform_fee_service.py
  backend/app/services/service_charge_calculator.py
  backend/app/services/staff_tip_service.py
  backend/app/services/sync_service.py
  backend/app/tests/services/test_ocr_service.py
  backend/check_menu_data.py
  backend/get_supabase_token.py
Due: black, isort, flake8

chore: cherry-pick batch 4 from PR #467
  backend/GITHUB_ISSUE_FYNLO_EXCEPTION_MIGRATION.md
  backend/HTTPEXCEPTION_MIGRATION_COMPLETE.md
  backend/ISSUE_389_MIDDLEWARE_ASSESSMENT.md
  backend/ISSUE_ANALYSIS_REPORT.md
  backend/MIGRATION_REPORT.md
  backend/PR_436_GUARDIAN_ANALYSIS.md
  backend/PR_438_GUARDIAN_ANALYSIS.md
  backend/minimal_app.py
  backend/minimal_server.py
  backend/run_test.sh
  backend/scripts/analyze_exception_usage.py
  backend/scripts/check_httpexception_usage.py
  backend/scripts/detailed_exception_analysis.py
  backend/scripts/fix_exception_migration.py
  backend/scripts/fix_final_httpexceptions.py
  backend/scripts/link_supabase_users.py
  backend/scripts/migrate_files_to_spaces.py
  backend/scripts/migrate_httpexception_to_fynlo_v2.py
  backend/scripts/migrate_mexican_menu.py
  backend/scripts/migrate_test_users.py
  backend/scripts/optimize_database_standalone.py
Due: black, isort, flake8

chore: cherry-pick batch 5 from PR #467
  backend/SECURITY_AUDIT_HTTPEXCEPTION_TO_FYNLOEXCEPTION.md
  backend/SECURITY_FIX_SUMMARY.md
  backend/SQL_INJECTION_FIX_SUMMARY.md
  backend/TENANT_SECURITY_IMPLEMENTATION_GUIDE.md
  backend/TEST_COVERAGE_ANALYSIS.md
  backend/scripts/seed_database.py
  backend/scripts/seed_orders_customers.py
  backend/scripts/seed_production_data.py
  backend/scripts/setup_subscription_plans.py
  backend/scripts/test_replica_monitoring.py
  backend/seed_chucho_menu.py
  backend/seed_menu_api.py
  backend/setup_database.py
  backend/simple_main.py
  backend/start.py
  backend/test_analytics_api_enhancement.py
  backend/test_api_alignment.py
  backend/test_auth.py
  backend/test_auth_flow.py
  backend/test_authentication_integration.py
  backend/test_authentication_security.py
  backend/test_backend_functionality.py
  backend/test_cors_parsing.py
Due: black, isort, flake8

chore: cherry-pick batch 7 from PR #467
  backend/tests/test_auth_uuid_consistency.py
  backend/tests/test_cache_service.py
  backend/tests/test_cache_warmer.py
  backend/tests/test_cached_endpoints.py
  backend/tests/test_correct_multitenant_isolation.py
  backend/tests/test_critical_multitenant_isolation.py
  backend/tests/test_error_handling_security.py
  backend/tests/test_example_full_coverage.py
  backend/tests/test_fynlo_exception_migration.py
  backend/tests/test_helpers.py
  backend/tests/test_multitenant_api_isolation.py
  backend/tests/test_multitenant_isolation.py.bak
  backend/tests/test_patterns_guide.py
  backend/tests/test_payment_providers.py
  backend/tests/test_provider_integration.py
  backend/tests/test_rate_limiting.py
  backend/tests/test_redis_fallback_security.py
  backend/tests/test_rls_bug_fixes.py
  backend/tests/test_rls_bug_fixes_verification.py
  backend/tests/test_rls_isolation.py
  backend/tests/test_rls_session_context.py
  backend/tests/test_ryan_arnaud_platform_access.py
  backend/tests/test_secure_payment_config.py
  backend/tests/test_secure_payment_endpoints.py
Due: black, isort, flake8

chore: cherry-pick batch 6 from PR #467
  backend/test_coverage_report.md
  backend/test_database_functionality.py
  backend/test_error_handling.py
  backend/test_file_upload.py
  backend/test_file_upload_endpoints.py
  backend/test_file_upload_system.py
  backend/test_frontend_auth_integration.py
  backend/test_mobile_compatibility.py
  backend/test_offline_sync_endpoints.py
  backend/test_platform_features.py
  backend/test_prod_auth.py
  backend/test_push_notification_service.py
  backend/test_server.py
  backend/test_server_startup.py
  backend/test_settings_load.py
  backend/test_setup.py
  backend/test_standardized_responses.py
  backend/test_supabase_auth.py
  backend/test_transaction_management.py
  backend/test_websocket_implementation.py
  backend/tests/api/v1/test_orders_customer_info.py
  backend/tests/fixtures/auth.py
  backend/tests/fixtures/database.py
  backend/tests/security/test_authentication.py
  backend/tests/security/test_sql_injection_comprehensive.py
Due: black, isort, flake8

chore: cherry-pick batch 9 from PR #467
  CashApp-iOS/CashAppPOS/ONBOARDING_FIXES.md
  CashApp-iOS/CashAppPOS/mexican_menu_migration.json
  CashApp-iOS/CashAppPOS/package-lock.json
  CashApp-iOS/CashAppPOS/package.json
  CashApp-iOS/CashAppPOS/pr-352-security-review.md
  CashApp-iOS/CashAppPOS/scripts/analyze-app-issues.js
  CashApp-iOS/CashAppPOS/scripts/find-unused-styles.js
  CashApp-iOS/CashAppPOS/scripts/fix-console-logs.sh
  CashApp-iOS/CashAppPOS/scripts/fix-remaining-eslint.js
  CashApp-iOS/CashAppPOS/scripts/test-app-functionality.js
  CashApp-iOS/CashAppPOS/scripts/test-menu-loading.js
  CashApp-iOS/CashAppPOS/src/__tests__/integration/api.test.ts
  CashApp-iOS/CashAppPOS/src/__tests__/utils/testProviders.tsx
  CashApp-iOS/CashAppPOS/src/components/APIStatusMonitor.tsx
  CashApp-iOS/CashAppPOS/src/components/analytics/Chart.tsx
  CashApp-iOS/CashAppPOS/src/components/cart/CartIcon.tsx
  CashApp-iOS/CashAppPOS/src/components/feedback/NotificationSystem.tsx
  CashApp-iOS/CashAppPOS/src/components/inputs/SimpleDecimalInput.tsx
  CashApp-iOS/CashAppPOS/src/components/inputs/SimpleTextInput.tsx
Due: eslint --fix

chore: cherry-pick batch 8 from PR #467
  CashApp-iOS/CashAppPOS/.eslintrc.js
  CashApp-iOS/CashAppPOS/.prettierrc.json
  CashApp-iOS/CashAppPOS/backend_data/plans_pricing.json
  CashApp-iOS/CashAppPOS/backend_data/platform.json
  CashApp-iOS/CashAppPOS/backend_data/restaurants.json
  CashApp-iOS/CashAppPOS/backend_data/service_charge.json
  CashApp-iOS/CashAppPOS/backend_data/users.json
  CashApp-iOS/CashAppPOS/e2e/cartIconState.e2e.js
  CashApp-iOS/CashAppPOS/e2e/config.json
  CashApp-iOS/CashAppPOS/e2e/loginFlow.test.js
  CashApp-iOS/CashAppPOS/e2e/orderFlow.test.js
  backend/tests/TEST_SUITE_SUMMARY.md
  backend/tests/test_secure_payment_processor.py
  backend/tests/test_security.py
  backend/tests/test_security_enhancements_pr414.py
  backend/tests/test_tenant_isolation_vulnerability.py
  backend/tests/test_websocket_enhanced.py
  backend/tests/test_websocket_security.py
  backend/tests/unit/test_payment_providers.py
Due: eslint --fix, black, isort, flake8

chore: cherry-pick batch 10 from PR #467
  CashApp-iOS/CashAppPOS/src/components/layout/Container.tsx
  CashApp-iOS/CashAppPOS/src/components/modals/CreateUserModal.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/SumUpTestComponent.tsx
  CashApp-iOS/CashAppPOS/src/components/performance/SkeletonLoader.tsx
  CashApp-iOS/CashAppPOS/src/components/pos/CustomItemEntry.tsx
  CashApp-iOS/CashAppPOS/src/components/search/CategorySearchBubble.tsx
  CashApp-iOS/CashAppPOS/src/components/subscription/FeatureGate.tsx
  CashApp-iOS/CashAppPOS/src/components/subscription/SubscriptionStatusBadge.tsx
  CashApp-iOS/CashAppPOS/src/contexts/SubscriptionContext.tsx
  CashApp-iOS/CashAppPOS/src/design-system/ThemeProvider.tsx
  CashApp-iOS/CashAppPOS/src/design-system/theme.ts
  CashApp-iOS/CashAppPOS/src/integration/health.test.ts
  CashApp-iOS/CashAppPOS/src/lib/README.md
  CashApp-iOS/CashAppPOS/src/navigation/MainNavigator.tsx
  CashApp-iOS/CashAppPOS/src/screens/auth/ForgotPasswordScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/kitchen/KitchenDisplayScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/OrderDetailsScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/TableSelectionScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/onboarding/RestaurantSetupScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/APITestScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/PaymentProviderSettingsScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/RestaurantProfileScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/app/BackupRestoreScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/app/PricingDiscountsScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/business/PaymentMethodsInfoScreen.tsx
Due: eslint --fix

chore: cherry-pick batch 12 from PR #467
  CLEANUP_REPORT.md
  CashApp-iOS/CashAppPOS/src/utils/SafeAlert.ts
  CashApp-iOS/CashAppPOS/src/utils/clearAuthStorage.ts
  CashApp-iOS/CashAppPOS/src/utils/componentRegistry.ts
  CashApp-iOS/CashAppPOS/tasks/code-cleanup-plan.md
  CashApp-iOS/CashAppPOS/tasks/code-cleanup-progress.md
  CashApp-iOS/CashAppPOS/tasks/code-cleanup-todo.md
  CashApp-iOS/CashAppPOS/tasks/todo.md
  CashApp-iOS/CashAppPOS/test-results/functionality-test-report.json
  CashApp-iOS/CashAppPOS/testAPIConnectivity.js
  CashApp-iOS/CashAppPOS/testDataService.js
  CashApp-iOS/CashAppPOS/test_users.json
  CashApp-iOS/CashAppPOS/tsconfig.json
  CashApp-iOS/CashAppPOS/yarn.lock
  DIGITALOCEAN_REPLICA_FIX_PLAN.md
Due: eslint --fix

chore: cherry-pick batch 11 from PR #467
  CashApp-iOS/CashAppPOS/src/screens/settings/SettingsScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/UserSettingsScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/XeroSettingsScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/AnalyticsService.ts
  CashApp-iOS/CashAppPOS/src/services/CustomersService.ts
  CashApp-iOS/CashAppPOS/src/services/EmailReceiptService.ts
  CashApp-iOS/CashAppPOS/src/services/NFCService.ts
  CashApp-iOS/CashAppPOS/src/services/NetworkDiagnosticsService.ts
  CashApp-iOS/CashAppPOS/src/services/SumUpCompatibilityService.ts
  CashApp-iOS/CashAppPOS/src/services/SumUpConfigService.ts
  CashApp-iOS/CashAppPOS/src/services/UserManagementService.ts
  CashApp-iOS/CashAppPOS/src/services/XeroAuthService.ts
  CashApp-iOS/CashAppPOS/src/services/XeroCustomerSyncService.ts
  CashApp-iOS/CashAppPOS/src/services/XeroItemsSyncService.ts
  CashApp-iOS/CashAppPOS/src/services/XeroSalesSyncService.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/MenuLoadingTest.ts
  CashApp-iOS/CashAppPOS/src/services/auth/AuthMonitor.ts
  CashApp-iOS/CashAppPOS/src/services/providers/SquarePaymentProvider.ts
  CashApp-iOS/CashAppPOS/src/services/providers/SumUpPaymentProvider.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/__tests__/EnhancedWebSocketService.test.ts
  CashApp-iOS/CashAppPOS/src/store/useUIStore.ts
  CashApp-iOS/CashAppPOS/src/types/index.ts
  CashApp-iOS/CashAppPOS/src/types/websocket.ts
  CashApp-iOS/CashAppPOS/src/types/xero.ts
  CashApp-iOS/CashAppPOS/src/utils/cacheManager.ts
Due: eslint --fix

chore: cherry-pick final batch from PR #467
  TEST_ANALYSIS_REPORT.md
  tasks/pr-353-comprehensive-review.md
  tasks/pr-454-analysis.md
  tasks/pr-fix-workflow.md
  temp_payment.py
Due: none

chore: cherry-pick batch 13 from PR #467
  ERROR_HANDLING_SECURITY_REPORT.md
  EXPERT_CLEANUP_REVIEW.md
  FYNLO_PR_GUARDIAN_ANALYSIS.md
  OPTIMIZATION_SUMMARY.md
  PR_412_FINAL_GUARDIAN_ANALYSIS.md
  PR_414_FINAL_SECURITY_ASSESSMENT.md
  PR_414_SECURITY_FIXES.md
  PR_426_FINAL_GUARDIAN_ANALYSIS.md
  PR_426_GUARDIAN_ANALYSIS.md
  PR_428_FINAL_GUARDIAN_REPORT.md
  PR_428_GUARDIAN_ANALYSIS.md
  PR_430_GUARDIAN_ANALYSIS.md
  PR_431_GUARDIAN_ANALYSIS.md
  PR_GUARDIAN_ANALYSIS.md
  PR_GUARDIAN_ANALYSIS_386.md
  PR_UPDATE.md
  SECURITY_AUDIT_ANALYSIS.md
  SQL_INJECTION_FIX_REPORT.md
  tasks/fix-auth-issues.md
  tasks/fix-textinput-onboarding.md
  tasks/menu-issues-analysis.md
Due: none

docs: add remaining work documentation for PR #467
  PR-467-REMAINING-WORK.md
Due: none

fix: resolve Python syntax errors and escape sequence warnings
  backend/app/core/security.py
  backend/app/core/two_factor_auth.py
Due: black, isort, flake8

fix: resolve remaining Python syntax errors
  backend/app/core/database.py
  backend/app/core/two_factor_auth.py
  scripts/analyze-remaining-console-logs.js
Due: eslint --fix, black, isort, flake8

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  black: any of: backend/**/*.py
  isort: any of: backend/**/*.py
  flake8: any of: backend/**/*.py
