Repository Lucid-Directions/cashapp-fynlo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, black, isort, flake8

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": [],
  "backend/**/*.py": ["black", "isort", "flake8"]
}

test: fix Jest configuration and add Supabase mocks
  CashApp-iOS/CashAppPOS/jest.setup.js
  CashApp-iOS/CashAppPOS/jest.unit.config.js
Due: eslint --fix

feat: Migrate to Turborepo for production-ready monorepo builds
  .gitignore
  package-lock.json
  package.json
  shared/package.json
  turbo.json
  web-platform/.vercel/project.json
  web-platform/package.json
  web-platform/vercel.json
Due: none

fix: remove problematic test file that was using incorrect testIDs
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/onboarding/__tests__/ComprehensiveRestaurantOnboardingScreen.test.tsx
Due: eslint --fix

fix: Configure Vercel for Turborepo monorepo deployment
  .gitignore
  .vercel/README.txt
  .vercel/project.json
  .vercelignore
  vercel.json
  web-platform/.vercel/project.json
  web-platform/vercel.json
Due: none

fix: trigger deployment with validation fixes
  CashApp-iOS/CashAppPOS/DEPLOYMENT_TRIGGER.md
Due: none

fix: AsyncStorage runtime error and improve onboarding integration tests
  CashApp-iOS/CashAppPOS/ONBOARDING_FIXES.md
  CashApp-iOS/CashAppPOS/jest.setup.js
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/onboarding/__tests__/ComprehensiveRestaurantOnboardingScreen.integration.test.tsx
  CashApp-iOS/CashAppPOS/src/screens/onboarding/__tests__/ComprehensiveRestaurantOnboardingScreen.test.tsx
  CashApp-iOS/CashAppPOS/src/test-utils.tsx
Due: eslint --fix

fix: correct email placeholder in onboarding tests
  CashApp-iOS/CashAppPOS/src/screens/onboarding/__tests__/ComprehensiveRestaurantOnboardingScreen.test.tsx
Due: eslint --fix

fix: remove duplicate /api/v1 from onboarding endpoint URL
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/onboarding/__tests__/ComprehensiveRestaurantOnboardingScreen.integration.test.tsx
  README.md
Due: eslint --fix

feat: implement multi-tenant security framework with platform owner access
  LAST_WORKING_COMMIT.txt
  backend/app/core/tenant_security.py
  backend/app/middleware/tenant_isolation_middleware.py
  backend/backend/.python-version
  backend/tests/test_correct_multitenant_isolation.py
  backend/tests/test_critical_multitenant_isolation.py
  backend/tests/test_multitenant_api_isolation.py
  backend/tests/test_ryan_arnaud_platform_access.py
  backend/tests/test_tenant_isolation_vulnerability.py
Due: black, isort, flake8

feat: add comprehensive tenant security implementation
  backend/alembic/versions/010_add_row_level_security.py
  backend/app/api/v1/endpoints/products_secure.py
  backend/app/api/v1/endpoints/websocket_secure.py
  backend/app/core/dependencies.py
  backend/app/core/rls_context.py
Due: black, isort, flake8

fix: address CursorBot review findings
  CashApp-iOS/CashAppPOS/src/screens/onboarding/__tests__/ComprehensiveRestaurantOnboardingScreen.integration.test.tsx
  README.md
Due: eslint --fix

fix: update tests for HTTPException assertions and add implementation guide
  backend/TENANT_SECURITY_IMPLEMENTATION_GUIDE.md
  backend/tests/test_ryan_arnaud_platform_access.py
  shared/package-lock.json
Due: black, isort, flake8

fix: resolve all test failures in onboarding integration tests
  CashApp-iOS/CashAppPOS/src/screens/onboarding/__tests__/ComprehensiveRestaurantOnboardingScreen.integration.test.tsx
Due: eslint --fix

feat: Implement comprehensive security improvements
  backend/alembic/versions/011_add_rls_session_variables.py
  backend/app/api/v1/endpoints/rls_example.py
  backend/app/api/v1/endpoints/websocket.py
  backend/app/api/v1/endpoints/websocket_rate_limit_patch.py
  backend/app/core/database.py
  backend/app/core/rls_middleware.py
  backend/app/core/rls_session_context.py
  backend/app/core/security_monitor.py
  backend/app/core/tenant_security.py
  backend/app/core/two_factor_auth.py
  backend/app/core/websocket_rate_limiter.py
  backend/app/main.py
  backend/app/middleware/rls_middleware.py
  backend/app/middleware/websocket_rate_limit.py
  backend/docs/RLS_IMPLEMENTATION.md
  backend/requirements.txt
  backend/tests/test_rls_isolation.py
  backend/tests/test_rls_session_context.py
  backend/tests/test_security_improvements.py
Due: black, isort, flake8

docs: Add comprehensive PR Guardian security analysis for PR #385
  PR_GUARDIAN_ANALYSIS.md
Due: none

fix: Address all CursorBot-identified security bugs in RLS implementation
  PR_UPDATE.md
  backend/CURSOR_BOT_FIXES_SUMMARY.md
  backend/app/api/v1/endpoints/websocket.py
  backend/app/core/database.py
  backend/app/core/rls_context.py
  backend/app/core/rls_session_context.py
  backend/backend/.python-version
  backend/tests/test_rls_bug_fixes.py
  backend/tests/test_rls_bug_fixes_verification.py
Due: black, isort, flake8

Fix: Multi-tenant isolation security vulnerability (#361) (#385)
  LAST_WORKING_COMMIT.txt
  PR_GUARDIAN_ANALYSIS.md
  PR_UPDATE.md
  backend/.python-version
  backend/CURSOR_BOT_FIXES_SUMMARY.md
  backend/TENANT_SECURITY_IMPLEMENTATION_GUIDE.md
  backend/alembic/versions/010_add_row_level_security.py
  backend/alembic/versions/011_add_rls_session_variables.py
  backend/app/api/v1/endpoints/products_secure.py
  backend/app/api/v1/endpoints/rls_example.py
  backend/app/api/v1/endpoints/websocket.py
  backend/app/api/v1/endpoints/websocket_rate_limit_patch.py
  backend/app/api/v1/endpoints/websocket_secure.py
  backend/app/core/database.py
  backend/app/core/dependencies.py
  backend/app/core/rls_context.py
  backend/app/core/rls_middleware.py
  backend/app/core/rls_session_context.py
  backend/app/core/security_monitor.py
  backend/app/core/tenant_security.py
  backend/app/core/two_factor_auth.py
  backend/app/core/websocket_rate_limiter.py
  backend/app/main.py
  backend/app/middleware/rls_middleware.py
  backend/app/middleware/tenant_isolation_middleware.py
  backend/app/middleware/websocket_rate_limit.py
  backend/docs/RLS_IMPLEMENTATION.md
  backend/requirements.txt
  backend/tests/test_correct_multitenant_isolation.py
  backend/tests/test_critical_multitenant_isolation.py
  backend/tests/test_multitenant_api_isolation.py
  backend/tests/test_rls_bug_fixes.py
  backend/tests/test_rls_bug_fixes_verification.py
  backend/tests/test_rls_isolation.py
  backend/tests/test_rls_session_context.py
  backend/tests/test_ryan_arnaud_platform_access.py
  backend/tests/test_security_improvements.py
  backend/tests/test_tenant_isolation_vulnerability.py
  shared/package-lock.json
Due: black, isort, flake8

fix: implement WebSocket heartbeat and reconnection logic (#393)
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/__tests__/EnhancedWebSocketService.test.ts
  backend/app/api/v1/endpoints/websocket_enhanced.py
  backend/app/core/rate_limiter.py
  backend/app/main.py
  backend/tests/test_websocket_enhanced.py
Due: eslint --fix, black, isort, flake8

fix: resolve import errors causing build failure
  README.md
  SECURITY_AUDIT_ANALYSIS.md
  all_issues.json
  backend/app/services/sync_service.py
Due: black, isort, flake8

fix: websocket disconnect race condition
  backend/app/api/v1/endpoints/websocket_enhanced.py
Due: black, isort, flake8

fix: Remove hardcoded SumUp API key and implement secure backend configuration
  CashApp-iOS/CashAppPOS/App.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/SumUpPaymentComponent.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/SumUpTestComponent.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/SumUpConfigService.ts
  CashApp-iOS/CashAppPOS/src/services/SumUpNativeService.ts
  FYNLO_PR_GUARDIAN_ANALYSIS.md
  backend/.env.example
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/sumup.py
  backend/deploy/production_env_variables.md
  backend/docs/sumup_integration.md
  backend/docs/sumup_security_fix.md
  deploy_sumup_security_fix.sh
Due: eslint --fix, black, isort, flake8

fix: correct model imports in sync_service
  backend/app/services/sync_service.py
Due: black, isort, flake8

fix: Complete SumUp API key security fix - mobile app updates
  CashApp-iOS/CashAppPOS/src/services/SumUpConfigService.ts
  CashApp-iOS/CashAppPOS/yarn.lock
Due: eslint --fix

fix: resolve duplicate Pillow dependency conflict in requirements.txt
  backend/requirements.txt
Due: none

fix: correct Redis client import error causing deployment failure
  backend/app/api/v1/endpoints/websocket.py
Due: black, isort, flake8

fix: remove hardcoded SumUp API key and fix frontend-backend integration
  CashApp-iOS/CashAppPOS/App.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/SumUpPaymentComponent.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/SumUpTestComponent.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/SumUpConfigService.ts
  CashApp-iOS/CashAppPOS/src/services/SumUpNativeService.ts
  CashApp-iOS/CashAppPOS/yarn.lock
  FYNLO_PR_GUARDIAN_ANALYSIS.md
  backend/.env.example
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/sumup.py
  backend/deploy/production_env_variables.md
  backend/docs/sumup_integration.md
  backend/docs/sumup_security_fix.md
  deploy_sumup_security_fix.sh
Due: eslint --fix, black, isort, flake8

fix: remove mock authentication endpoints - critical security fix #387
  BREAKING_CHANGES.md
  CashApp-iOS/CashAppPOS/testAPIConnectivity.js
  backend/app/main.py
  backend/app/main_minimal.py
  integration_test_all_fixes.js
Due: eslint --fix, black, isort, flake8

fix: include SumUp API security improvements
  CashApp-iOS/CashAppPOS/src/services/SumUpConfigService.ts
  backend/app/api/v1/endpoints/sumup.py
  backend/deploy/production_env_variables.md
  backend/docs/sumup_security_fix.md
Due: eslint --fix, black, isort, flake8

fix: address Cursor Bugbot findings for SumUp integration
  CashApp-iOS/CashAppPOS/src/services/SumUpConfigService.ts
  backend/app/api/v1/endpoints/sumup.py
Due: eslint --fix, black, isort, flake8

BREAKING: Remove mock auth endpoint - Critical Security Fix #387 (#412)
  BREAKING_CHANGES.md
  CashApp-iOS/CashAppPOS/src/services/SumUpConfigService.ts
  CashApp-iOS/CashAppPOS/testAPIConnectivity.js
  backend/app/api/v1/endpoints/sumup.py
  backend/app/main.py
  backend/app/main_minimal.py
  backend/deploy/production_env_variables.md
  backend/docs/sumup_security_fix.md
  integration_test_all_fixes.js
Due: eslint --fix, black, isort, flake8

fix: add missing Request parameter to SumUp endpoints for rate limiter
  backend/app/api/v1/endpoints/sumup.py
Due: black, isort, flake8

fix: implement comprehensive replica monitoring system for DigitalOcean
  DIGITALOCEAN_REPLICA_FIX_PLAN.md
  backend/.env.example
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v1/endpoints/monitoring.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/services/digitalocean_monitor.py
  backend/app/services/instance_tracker.py
  backend/app/tasks/replica_validator.py
  backend/deploy/replica_monitoring.md
  backend/scripts/test_replica_monitoring.py
Due: black, isort, flake8

fix: force rebuild with timestamp comment to ensure latest rate limiter fix is deployed
  backend/app/api/v1/endpoints/sumup.py
Due: black, isort, flake8

fix: critical security vulnerability - add platform owner auth checks
  web-platform/src/components/platform/dashboard/FinancialManagement.tsx
  web-platform/src/components/platform/dashboard/PlatformAnalytics.tsx
  web-platform/src/components/platform/dashboard/PlatformLoyaltyPrograms.tsx
  web-platform/src/components/platform/dashboard/PlatformOverview.tsx
  web-platform/src/components/platform/dashboard/RestaurantManagement.tsx
  web-platform/supabase/.temp/cli-latest
  web-platform/supabase/migrations/20250729171329_fix-platform-owner-restaurant-access.sql
Due: eslint --fix

CRITICAL: Remove hardcoded credentials from DashboardSettings.tsx
  web-platform/.env.example
  web-platform/src/components/dashboard/DashboardSettings.tsx
  web-platform/src/components/platform/dashboard/__tests__/PlatformSecurity.test.tsx
  web-platform/supabase/tests/platform_owner_rls.test.sql
Due: eslint --fix

fix: improve backend test coverage to 80%+ with comprehensive security tests
  backend/run_tests.sh
  backend/tests/TEST_SUITE_SUMMARY.md
  backend/tests/business/__init__.py
  backend/tests/business/test_order_processing.py
  backend/tests/conftest.py
  backend/tests/fixtures/__init__.py
  backend/tests/fixtures/auth.py
  backend/tests/fixtures/database.py
  backend/tests/integration/test_api_endpoints.py
  backend/tests/payment/__init__.py
  backend/tests/payment/test_payment_processing.py
  backend/tests/security/__init__.py
  backend/tests/security/test_authentication.py
  backend/tests/security/test_input_validation.py
  backend/tests/security/test_multi_tenant_isolation.py
  backend/tests/security/test_sql_injection.py
  backend/tests/unit/__init__.py
  backend/tests/unit/test_payment_providers.py
  backend/tests/unit/test_validation.py
Due: black, isort, flake8

feat: comprehensive security enhancements for PR #414
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v1/endpoints/monitoring.py
  backend/app/core/rate_limit_config.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/services/digitalocean_monitor.py
  backend/tests/test_security.py
  backend/tests/test_security_enhancements_pr414.py
Due: black, isort, flake8

fix: add text() wrapper to all raw SQL queries in test_sql_injection.py
  backend/tests/security/test_sql_injection.py
Due: black, isort, flake8

refactor: remove all mocks and implement real end-to-end testing
  backend/setup_test_db.sh
  backend/tests/README.md
  backend/tests/conftest.py
  backend/tests/e2e/test_payment_providers.py
  backend/tests/e2e/test_user_workflow.py
  backend/tests/fixtures/database.py
  backend/tests/payment/test_payment_processing.py
Due: black, isort, flake8

fix: resolve all async/await and database issues identified by cursor bot
  backend/run_tests.sh
  backend/tests/business/test_order_processing.py
  backend/tests/conftest.py
  backend/tests/e2e/test_payment_providers.py
  backend/tests/security/test_multi_tenant_isolation.py
  backend/tests/security/test_sql_injection.py
  web-platform/src/services/platformSettingsService.ts
Due: eslint --fix, black, isort, flake8
