Repository Lucid-Directions/cashapp-fynlo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, black, isort, flake8

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": [],
  "backend/**/*.py": ["black", "isort", "flake8"]
}

fix: correct alert icon theme color to prevent runtime errors
  CashApp-iOS/CashAppPOS/src/screens/main/DashboardScreen.tsx
Due: eslint --fix

fix: remove redundant static scale from swipe animation
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
Due: eslint --fix

fix: add missing logger imports to prevent runtime crashes
  CashApp-iOS/CashAppPOS/src/screens/main/OrdersScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
Due: eslint --fix

fix: resolve React Native style warnings in auth, payment, onboarding and orders screens
  CashApp-iOS/CashAppPOS/src/screens/auth/ForgotPasswordScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/auth/LoginScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/auth/SignUpScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/orders/OrdersScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/EnhancedPaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/RefundScreen.tsx
Due: eslint --fix

fix: resolve React Native style warnings in remaining components
  .claude/agents/development-agent.md
  .claude/agents/documentation-agent.md
  .claude/agents/fynlo-api-optimizer.md
  .claude/agents/fynlo-bundle-deployer.md
  .claude/agents/fynlo-code-hygiene-agent.md
  .claude/agents/fynlo-infrastructure-manager.md
  .claude/agents/fynlo-platform-integrator.md
  .claude/agents/fynlo-pos-payment-agent.md
  .claude/agents/fynlo-security-auditor.md
  .claude/agents/fynlo-test-runner.md
  .claude/agents/fynlo-websocket-debugger.md
  .claude/agents/planning-agent.md
  .claude/agents/research-agent.md
  .claude/agents/setup-agent.md
  .claude/agents/testing-agent.md
  .claude/agents/version-control-agent.md
  CashApp-iOS/CashAppPOS/files-with-warnings.txt
  CashApp-iOS/CashAppPOS/src/components/accessibility/AccessibleView.tsx
  CashApp-iOS/CashAppPOS/src/components/layout/Container.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/QRCodePayment.tsx
  CashApp-iOS/CashAppPOS/src/components/theme/ThemeSwitcher.tsx
  CashApp-iOS/CashAppPOS/src/components/ui/List.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/EnhancedPaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payments/ContactlessPaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/RecipeFormScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/RecipesScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/RestaurantPlatformOverridesScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/table/TableManagementScreen.tsx
  CashApp-iOS/CashAppPOS/style-warnings.txt
Due: eslint --fix

fix: complete HTTPException to FynloException migration in all backend files
  backend/PR_GUARDIAN_SCAN_REPORT.json
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/config.py
  backend/app/api/v1/endpoints/employees.py
  backend/app/api/v1/endpoints/exports.py
  backend/app/api/v1/endpoints/menu_optimized.py
  backend/app/api/v1/endpoints/orders.py
  backend/app/api/v1/endpoints/payments.py
  backend/app/api/v1/endpoints/platform_settings.py
  backend/app/api/v1/endpoints/pos.py
  backend/app/api/v1/endpoints/sumup.py
  backend/app/api/v1/subscriptions.py
  backend/app/core/exceptions.py
  backend/app/core/two_factor_auth.py
  backend/app/main.py
  backend/app/middleware/feature_gate.py
  backend/app/middleware/rate_limit_middleware.py
  backend/backend/PR_GUARDIAN_SCAN_REPORT.json
  backend/minimal_app.py
  backend/scripts/run_pr_guardian.py
  backend/test_transaction_management.py
Due: black, isort, flake8

fix: update MCP configuration and documentation with correct servers
  .mcp.json
  CLAUDE.md
Due: none

fix: resolve React Native style warnings in remaining components
  CashApp-iOS/CashAppPOS/src/components/layout/Container.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/SecurePaymentMethodSelector.tsx
  CashApp-iOS/CashAppPOS/src/components/performance/SkeletonLoader.tsx
  CashApp-iOS/CashAppPOS/src/components/pos/CustomItemEntry.tsx
  CashApp-iOS/CashAppPOS/src/components/ui/Modal.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
Due: eslint --fix

fix: resolve syntax error in backend __init__.py file
  backend/app/__init__.py
Due: black, isort, flake8

fix: resolve critical backend syntax error blocking deployment
  backend/app/__init__.py
Due: black, isort, flake8

fix: resolve unterminated triple-quoted string literal in main.py
  backend/app/main.py
Due: black, isort, flake8

fix: resolve import error in app/core/__init__.py
  backend/app/core/__init__.py
Due: black, isort, flake8

fix: correct DigitalOcean deployment configuration
  .do/app.yaml
  backend/DEPLOYMENT_TRIGGER.txt
Due: none

fix: correct import error in core/__init__.py
  backend/DEPLOYMENT_TRIGGER.txt
  backend/app/core/__init__.py
Due: black, isort, flake8

fix: close unclosed docstring in database_security.py
  backend/DEPLOYMENT_TRIGGER.txt
  backend/app/core/database_security.py
Due: black, isort, flake8

fix: comprehensive syntax error fixes across backend
  backend/SYNTAX_ERROR_REPORT.md
  backend/alembic/versions/001_add_username_to_users.py
  backend/alembic/versions/010_add_row_level_security.py
  backend/alembic/versions/1d25e080d454_convert_monetary_fields_from_float_to_.py
  backend/app/__init__.py
  backend/app/api/__init__.py
  backend/app/api/v1/__init__.py
  backend/app/api/v1/endpoints/__init__.py
  backend/app/middleware/rate_limit_middleware.py
  backend/app/models/stock_movement.py
  backend/app/schemas/auth.py
  backend/app/tests/services/test_ocr_service.py
  backend/app/websocket/__init__.py
  backend/backend/fix_all_python_syntax.py
  backend/check_menu_data.py
  backend/check_syntax.py
  backend/final_fix_output.txt
  backend/final_syntax_report.txt
  backend/manual_fix_helper.py
  backend/scripts/test_replica_monitoring.py
  backend/test_settings_load.py
  backend/test_setup.py
  backend/tests/fixtures/database.py
  backend/tests/test_auth_uuid_consistency.py
  backend/tests/test_rls_bug_fixes_verification.py
Due: black, isort, flake8

debug: add deployment structure diagnostic script
  backend/app/debug_deployment.py
Due: black, isort, flake8

debug: run diagnostic script during Docker build
  backend/Dockerfile
Due: none

fix: correct Order model imports in test files
  backend/tests/test_example_full_coverage.py
  backend/tests/test_helpers.py
  backend/tests/test_patterns_guide.py
Due: black, isort, flake8

fix: critical syntax errors preventing backend deployment
  backend/app/core/database_security.py
  backend/app/core/redis_client.py
  backend/app/models/subscription.py
Due: black, isort, flake8

fix: critical docstring errors in validation.py and other files
  backend/app/core/mobile_id_mapping.py
  backend/app/core/rate_limit_config.py
  backend/app/core/validation.py
  backend/app/middleware/tenant_isolation_middleware.py
  backend/app/services/instance_tracker.py
  backend/find_all_syntax_errors.py
Due: black, isort, flake8

fix: correct docstring placement in MobileIDService class
  backend/app/core/mobile_id_mapping.py
Due: black, isort, flake8

fix: unclosed docstrings in security_monitor.py
  backend/app/core/security_monitor.py
Due: black, isort, flake8

fix: unclosed docstrings in security_monitor.py blocking deployment
  backend/app/core/security_monitor.py
Due: black, isort, flake8

fix: malformed docstring in restaurant_deletion.py
  backend/app/api/v1/endpoints/restaurant_deletion.py
Due: black, isort, flake8

fix: batch fix of 6 critical docstring errors in core modules
  backend/app/api/v1/endpoints/__init__.py
  backend/app/api/v1/endpoints/analytics.py
  backend/app/core/cache.py
  backend/app/core/cache_service.py
  backend/app/core/dependencies.py
Due: black, isort, flake8

fix: remove unterminated triple-quoted string in api.py
  backend/app/api/v1/api.py
Due: black, isort, flake8

fix: temporarily disable floor_plan_layout to fix deployment
  backend/app/api/v1/endpoints/restaurants.py
  backend/app/core/database.py
Due: black, isort, flake8

fix: completely remove floor_plan_layout to resolve deployment
  backend/alembic/versions/009_drop_floor_plan_layout.py
  backend/app/api/v1/endpoints/restaurants.py
  backend/app/core/database.py
Due: black, isort, flake8

fix: remove unnecessary __mapper_args__ configuration
  backend/app/core/database.py
Due: black, isort, flake8

fix: add conditional check before dropping floor_plan_layout column
  backend/alembic/versions/009_drop_floor_plan_layout.py
Due: black, isort, flake8

fix: resolve deployment syntax error and add prevention measures
  .pre-commit-config.yaml
  backend/Dockerfile
  backend/app/core/exceptions.py
  backend/check_syntax.sh
Due: black, isort, flake8

fix: remove stray triple quote causing syntax error in responses.py
  backend/app/core/responses.py
Due: black, isort, flake8

fix: remaining syntax errors and add syntax checking infrastructure
  .github/workflows/python-syntax-check.yml
  .mcp.json
  backend/app/core/two_factor_auth.py
  backend/app/middleware/tenant_isolation_middleware.py
Due: black, isort, flake8

fix: use relative path for PYTHONPATH in tree-sitter config
  .mcp.json
Due: none
