Repository Lucid-Directions/cashapp-fynlo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, black, isort, flake8

fix: add production configuration validation setup for issue #394
  digitalocean/app-spec-production-update.yaml
  docs/production-validation-setup.md
  scripts/verify-production-config.sh
Due: none

fix: simplify production config update based on actual app spec
  digitalocean/app-spec-minimal-update.yaml
  docs/production-validation-setup.md
Due: none

Revert "Merge pull request #414 from Lucid-Directions/fix/digitalocean-replica-count-356"
  DIGITALOCEAN_REPLICA_FIX_PLAN.md
  backend/.env.example
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v1/endpoints/monitoring.py
  backend/app/core/config.py
  backend/app/core/rate_limit_config.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/services/digitalocean_monitor.py
  backend/app/services/instance_tracker.py
  backend/app/tasks/replica_validator.py
  backend/deploy/replica_monitoring.md
  backend/scripts/test_replica_monitoring.py
  backend/tests/test_security.py
  backend/tests/test_security_enhancements_pr414.py
Due: black, isort, flake8

Revert "Revert "Merge pull request #414 from Lucid-Directions/fix/digitalocean-replica-count-356""
  DIGITALOCEAN_REPLICA_FIX_PLAN.md
  backend/.env.example
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v1/endpoints/monitoring.py
  backend/app/core/config.py
  backend/app/core/rate_limit_config.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/services/digitalocean_monitor.py
  backend/app/services/instance_tracker.py
  backend/app/tasks/replica_validator.py
  backend/deploy/replica_monitoring.md
  backend/scripts/test_replica_monitoring.py
  backend/tests/test_security.py
  backend/tests/test_security_enhancements_pr414.py
Due: black, isort, flake8

fix: add missing pybreaker dependency for DigitalOcean monitoring
  backend/requirements.txt
Due: none

fix: add missing psutil dependency for health monitoring
  backend/requirements.txt
Due: none

fix: add comprehensive audit logging for failed authentication attempts
  CLAUDE.md
  PR_412_FINAL_GUARDIAN_ANALYSIS.md
  PR_414_FINAL_SECURITY_ASSESSMENT.md
  PR_414_SECURITY_FIXES.md
  PR_426_GUARDIAN_ANALYSIS.md
  PR_GUARDIAN_ANALYSIS_386.md
  SUMUP_DEPLOYMENT_CHECKLIST.md
  backend/.coveragerc
  backend/.env.example
  backend/app/api/v1/endpoints/auth.py
  backend/pytest.ini
  backend/tests/test_example_full_coverage.py
  backend/tests/test_helpers.py
  backend/tests/test_patterns_guide.py
  pr412_diff.txt
Due: black, isort, flake8

fix: remove all mock data endpoints and test servers from production
  CashApp-iOS/CashAppPOS/simple_backend_server.py
  backend/app/api/v1/endpoints/__init__.py
  backend/app/api/v1/endpoints/analytics.py
  backend/app/api/v1/endpoints/debug_user.py
  backend/app/api/v1/endpoints/inventory.py
  backend/app/core/production_guard.py
  backend/app/main.py
  mock_api_server.py
  simple_health_server.py
Due: black, isort, flake8

fix: update production_guard decorator to handle both sync and async functions
  backend/app/core/production_guard.py
Due: black, isort, flake8

fix: address all Cursor Bugbot security issues
  PR_426_FINAL_GUARDIAN_ANALYSIS.md
  backend/app/api/v1/endpoints/health.py
  backend/app/services/digitalocean_monitor.py
  backend/app/services/instance_tracker.py
Due: black, isort, flake8

feat: implement secure DigitalOcean replica monitoring system (#426)
  CLAUDE.md
  DIGITALOCEAN_REPLICA_FIX_PLAN.md
  PR_412_FINAL_GUARDIAN_ANALYSIS.md
  PR_414_FINAL_SECURITY_ASSESSMENT.md
  PR_414_SECURITY_FIXES.md
  PR_426_FINAL_GUARDIAN_ANALYSIS.md
  PR_426_GUARDIAN_ANALYSIS.md
  PR_GUARDIAN_ANALYSIS_386.md
  SUMUP_DEPLOYMENT_CHECKLIST.md
  backend/.coveragerc
  backend/.env.example
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v1/endpoints/monitoring.py
  backend/app/core/config.py
  backend/app/core/rate_limit_config.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/services/digitalocean_monitor.py
  backend/app/services/instance_tracker.py
  backend/app/tasks/replica_validator.py
  backend/deploy/replica_monitoring.md
  backend/pytest.ini
  backend/requirements.txt
  backend/scripts/test_replica_monitoring.py
  backend/tests/test_example_full_coverage.py
  backend/tests/test_helpers.py
  backend/tests/test_patterns_guide.py
  backend/tests/test_security.py
  backend/tests/test_security_enhancements_pr414.py
  pr412_diff.txt
Due: black, isort, flake8

fix: add restaurant_id to inventory tables and implement tenant isolation
  backend/alembic/versions/011_add_rls_session_variables.py
  backend/alembic/versions/30fd53b66d34_add_restaurant_id_to_inventory_items.py
  backend/alembic/versions/9977a196aa67_add_user_restaurants_multi_tenant_.py
  backend/alembic/versions/d92292f7ec1d_merge_all_heads_for_multi_restaurant.py
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/inventory.py
  backend/app/api/v1/endpoints/products.py
  backend/app/api/v1/endpoints/restaurant_switch.py
  backend/app/core/database.py
  backend/app/core/tenant_security.py
  backend/app/crud/inventory.py
  backend/app/models.py
  backend/app/schemas/inventory_schemas.py
Due: black, isort, flake8

fix: correct pybreaker version from 6.1.0 to 1.4.0 in current branch
  backend/requirements.txt
Due: none

fix: correct pybreaker version from 6.1.0 to 1.4.0
  backend/requirements.txt
Due: none

fix: add missing psutil dependency for health checks
  backend/requirements.txt
Due: none

fix: initialize SlowAPI limiter on app.state to resolve AttributeError
  PR_428_FINAL_GUARDIAN_REPORT.md
  PR_428_GUARDIAN_ANALYSIS.md
  backend/app/main.py
Due: black, isort, flake8

fix: comprehensive SQL injection security fixes for issue #360
  backend/SQL_INJECTION_FIX_SUMMARY.md
  backend/app/api/v1/endpoints/customers.py
  backend/app/api/v1/platform/restaurants.py
  backend/app/api/v1/platform/users.py
  backend/app/core/database.py
  backend/app/core/database_security.py
  backend/app/core/security_utils.py
  backend/app/core/validators.py
  backend/app/main.py
  backend/app/middleware/__init__.py
  backend/app/middleware/sql_injection_waf.py
  backend/app/schemas/search_schemas.py
  backend/seed_chucho_menu.py
  backend/tests/conftest.py
  backend/tests/security/test_sql_injection_comprehensive.py
  backend/verify_sql_injection_fixes.py
Due: black, isort, flake8

fix: update customer endpoints with proper multi-tenant isolation
  backend/app/api/v1/endpoints/customers.py
  backend/app/api/v1/endpoints/employees.py
  backend/app/api/v1/endpoints/menu.py
  backend/app/api/v1/endpoints/menu_optimized.py
  backend/app/services/employee_service.py
Due: black, isort, flake8

fix: add multi-tenant isolation to orders endpoints
  backend/app/api/v1/endpoints/orders.py
  backend/app/services/employee_service.py
Due: black, isort, flake8

fix: correct pricing information and domain in documentation
  backend/app/api/v1/endpoints/dashboard.py
  backend/docs/supabase_auth_metadata_update.md
Due: black, isort, flake8

fix: implement comprehensive error handling security for issue #359
  CashApp-iOS/CashAppPOS/src/components/ErrorBoundary.tsx
  CashApp-iOS/CashAppPOS/src/services/errorHandler.ts
  ERROR_HANDLING_SECURITY_REPORT.md
  PR_430_GUARDIAN_ANALYSIS.md
  PR_431_GUARDIAN_ANALYSIS.md
  SQL_INJECTION_FIX_REPORT.md
  backend/app/core/logging_filters.py
  backend/scripts/check_httpexception_usage.py
  backend/scripts/seed_database.py
  backend/tests/__init__.py
  backend/tests/test_error_handling_security.py
  backend/tests/test_sql_injection_simple.py
Due: eslint --fix, black, isort, flake8

fix: add UserRestaurant to models exports and fix import paths
  CashApp-iOS/docs/role_based_ui_guide.md
  backend/app/api/v1/endpoints/inventory.py
  backend/app/api/v1/endpoints/restaurant_switch.py
  backend/app/models/__init__.py
  backend/run_test.sh
  backend/tests/test_multi_tenant_role_based_access.py
  backend/tests/test_multi_tenant_security.py
  backend/tests/test_websocket_multi_tenant.py
Due: black, isort, flake8

fix: deployment errors - PostgreSQL null byte encoding and Redis connection check
  backend/ISSUE_ANALYSIS_REPORT.md
  backend/PR_438_GUARDIAN_ANALYSIS.md
  backend/app/core/database_security.py
  backend/app/middleware/rate_limit_middleware.py
Due: black, isort, flake8

fix: address all critical security issues identified by PR Guardian
  backend/.env.example
  backend/PR_436_GUARDIAN_ANALYSIS.md
  backend/app/api/v1/endpoints/restaurant_deletion.py
  backend/app/api/v1/endpoints/restaurant_switch.py
  backend/app/api/v1/endpoints/restaurants.py
  backend/app/core/config.py
  backend/app/core/tenant_security.py
  backend/start_dev.sh
Due: black, isort, flake8

docs: add mandatory GitHub issue assignment check rule
  CLAUDE.md
Due: none

feat: comprehensive linting infrastructure setup
  .pre-commit-config.yaml
  CashApp-iOS/CashAppPOS/.eslintrc.js
  CashApp-iOS/CashAppPOS/.prettierrc
  CashApp-iOS/CashAppPOS/package-lock.json
  CashApp-iOS/CashAppPOS/package.json
  CashApp-iOS/CashAppPOS/scripts/fix-all-linting-100-percent.sh
  CashApp-iOS/CashAppPOS/scripts/fix-lint.sh
  CashApp-iOS/CashAppPOS/scripts/install-pre-commit.sh
  CashApp-iOS/CashAppPOS/scripts/lint.sh
  CashApp-iOS/CashAppPOS/scripts/validate-zero-errors.sh
  CashApp-iOS/CashAppPOS/yarn.lock
  LINTING_SETUP.md
  PR_440_GUARDIAN_ANALYSIS.md
  backend/.flake8
Due: eslint --fix

fix: prettier formatting (14,467 errors)
  CashApp-iOS/CashAppPOS/src/contexts/AuthContext_old.tsx
  CashApp-iOS/CashAppPOS/src/utils/clearAuthStorage.ts
Due: eslint --fix

fix: eslint auto-fixable issues
  CashApp-iOS/CashAppPOS/src/contexts/AuthContext_old.tsx
Due: eslint --fix

fix: prettier formatting (14,467 errors)
  CashApp-iOS/CashAppPOS/src/design-system/ThemeProvider.tsx
Due: eslint --fix

fix: correct TenantSecurity.validate_restaurant_access usage in payments.py
  backend/app/api/v1/endpoints/payment_configurations.py
  backend/app/api/v1/endpoints/payments.py
  backend/app/api/v1/endpoints/pos.py
  backend/app/api/v1/endpoints/products_secure.py
  backend/app/api/v1/endpoints/restaurants.py
  backend/app/api/v1/endpoints/secure_payment_provider_management.py
  backend/app/api/v1/endpoints/secure_payments.py
  backend/app/api/v1/endpoints/sumup.py
  backend/app/core/auth.py
  backend/app/core/dependencies.py
Due: black, isort, flake8

fix: prettier formatting (14,467 errors)
  CashApp-iOS/CashAppPOS/src/design-system/ThemeProvider.tsx
  CashApp-iOS/CashAppPOS/src/design-system/theme.ts
  CashApp-iOS/CashAppPOS/src/hooks/useResponsive.ts
Due: eslint --fix

fix: eslint auto-fixable issues
  CashApp-iOS/CashAppPOS/src/design-system/ThemeProvider.tsx
Due: eslint --fix

fix: prettier formatting (14,467 errors)
  CashApp-iOS/CashAppPOS/scripts/fix-all-linting-100-percent.sh
Due: none

fix: SQL injection and migration failure in inventory migration
  backend/alembic/versions/30fd53b66d34_add_restaurant_id_to_inventory_items.py
Due: black, isort, flake8

fix: test theme name correction
  CashApp-iOS/CashAppPOS/src/__tests__/ComprehensiveAppTest.tsx
Due: eslint --fix

fix: add missing db parameter to TenantSecurity calls
  backend/app/core/dependencies.py
Due: black, isort, flake8

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  black: any of: backend/**/*.py
  isort: any of: backend/**/*.py
  flake8: any of: backend/**/*.py
