Repository Lucid-Directions/cashapp-fynlo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black, isort, flake8

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "backend/**/*.py": ["black", "isort", "flake8"]
}

feat(security): implement comprehensive rate limiting and DDoS protection
  SECURITY_IMPLEMENTATION_PLAN.md
  backend/alembic/versions/add_restaurant_id_to_inventory_system.py
  backend/alembic/versions/add_row_level_security.py
  backend/app/core/database.py
  backend/app/core/enhanced_validation.py
  backend/app/main.py
  backend/app/middleware/audit_logging.py
  backend/app/middleware/rate_limiting.py
  backend/app/middleware/rls_context.py
  backend/app/middleware/security_headers.py
  backend/scripts/migrate_inventory_restaurant_id.py
  backend/tests/security/test_inventory_multi_tenant.py
  backend/tests/test_rate_limiting.py
Due: prettier --write, black, isort, flake8

feat(security): implement field-level encryption for sensitive data
  backend/ENCRYPTION_README.md
  backend/alembic/versions/add_field_encryption.py
  backend/app/core/encryption.py
  backend/app/core/encryption_config.py
  backend/app/models/encrypted_fields.py
  backend/scripts/migrate_to_encryption.py
  backend/tests/test_encryption.py
Due: prettier --write, black, isort, flake8

docs: update CLAUDE.md with MCP tools, CLI tools, and sub-agents listing
  .claude/context/pieces-context.md
  CLAUDE.md
Due: prettier --write

feat(security): implement comprehensive security monitoring and alerting
  backend/app/api/v1/security_dashboard.py
  backend/app/core/anomaly_detection.py
  backend/app/core/security_monitoring.py
  backend/app/middleware/security_integration.py
  backend/tests/test_security_monitoring.py
Due: black, isort, flake8

security: remove exposed Vercel token from documentation
  .env.example
  CLAUDE.md
Due: prettier --write

fix: comprehensive onboarding flow fixes to prevent data loss and NaN errors
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
  CashApp-iOS/CashAppPOS/src/types/restaurantOnboarding.ts
  CashApp-iOS/CashAppPOS/src/utils/inputValidation.ts
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/restaurants.py
Due: eslint --fix, prettier --write, black, isort, flake8

fix: address PR guardian issues - subscription fields, data mismatch, and platform validation
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
  PIECES_INTEGRATION.md
  PIECES_WORKFLOW.md
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/restaurants.py
  backend/app/schemas/restaurant.py
  scripts/export-pieces-context.sh
Due: eslint --fix, prettier --write, black, isort, flake8

fix: prevent TextInput tree-shaking in onboarding flow
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
  tasks/fix-textinput-onboarding.md
Due: eslint --fix, prettier --write

fix: resolve onboarding NaN errors and keyboard handling issues
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
Due: eslint --fix, prettier --write

fix: remove prettier configuration to fix Vercel deployment
  .prettierrc
Due: none

fix: remove prettier to fix Vercel deployment
  .lintstagedrc.json
  web-platform/package-lock.json
  web-platform/package.json
Due: prettier --write

fix: move typescript back to devDependencies in shared package
  shared/package-lock.json
  shared/package.json
Due: prettier --write

fix: remove prettier from pre-commit config
  .pre-commit-config.yaml
Due: prettier --write

fix: remove all root-level linting configurations
  .husky/pre-commit
  .lintstagedrc.json
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: prettier --write

fix: comprehensive fix for TextInput ReferenceError in iOS bundle
  CashApp-iOS/CashAppPOS/App.tsx
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
  CashApp-iOS/CashAppPOS/src/utils/componentRegistry.ts
Due: eslint --fix, prettier --write

chore: trigger Vercel rebuild after removing linting configs
  web-platform/.trigger-rebuild
Due: none

fix: email validation on blur and correct API URL in onboarding
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
Due: eslint --fix, prettier --write

fix: correct navigation index for Configure Menu button
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
Due: eslint --fix, prettier --write

fix: add vite-tsconfig-paths plugin to resolve Vercel build issues
  .vercel/README.txt
  .vercel/project.json
  web-platform/.trigger-rebuild
  web-platform/.vercel/README.txt
  web-platform/.vercel/project.json
  web-platform/package-lock.json
  web-platform/package.json
  web-platform/vite.config.ts
Due: eslint --fix, prettier --write

fix: remove alert from employee email validation
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
Due: eslint --fix, prettier --write

fix: install devDependencies in shared package for Vercel build
  web-platform/package.json
Due: prettier --write

fix: resolve Vercel npm command not found error (BUILD_UTILS_SPAWN_127)
  shared/package.json
  vercel.json
  web-platform/bun.lockb
  web-platform/package.json
  web-platform/vercel.json
Due: prettier --write

fix: update web-platform vercel.json to handle monorepo structure
  web-platform/vercel.json
Due: prettier --write

fix: simplify vercel.json - rely on package.json build script
  web-platform/vercel.json
Due: prettier --write

feat: add comprehensive POS payment agent for critical production functionality
  .claude/agents/fynlo-pos-payment-agent.md
Due: prettier --write

fix: revert to exact configuration from successful PR #378
  shared/package.json
  vercel.json
  web-platform/.gitignore
  web-platform/.vercel/project.json
  web-platform/package.json
Due: prettier --write

update: emphasize SumUp as primary payment provider with tap-to-pay approval
  .claude/agents/fynlo-pos-payment-agent.md
Due: prettier --write

fix: remove vite-tsconfig-paths plugin that may be causing Vercel build failure
  web-platform/vite.config.ts
Due: eslint --fix, prettier --write

feat: add code hygiene agent for deduplication and dead code removal
  .claude/agents/fynlo-code-hygiene-agent.md
Due: prettier --write

update: add strict safety protocols to code hygiene agent
  .claude/agents/fynlo-code-hygiene-agent.md
Due: prettier --write

fix: remove ALL blocking alerts from onboarding flow
  CLEANUP_REPORT.md
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
Due: eslint --fix, prettier --write

fix: move typescript to dependencies in shared package
  shared/package-lock.json
  shared/package.json
Due: prettier --write

fix: resolve validation state mismatch issues
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
  EXPERT_CLEANUP_REVIEW.md
Due: eslint --fix, prettier --write

cleanup: remove dead payment code and Stripe integration
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/SecurePaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/MockDataService.ts
  CashApp-iOS/CashAppPOS/src/services/PaymentService.ts
  CashApp-iOS/CashAppPOS/src/services/SecurePaymentOrchestrator.ts
  CashApp-iOS/CashAppPOS/src/services/providers/StripePaymentProvider.ts
Due: eslint --fix, prettier --write

fix: add validation for empty required fields and IBAN/SWIFT error handling
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
Due: eslint --fix, prettier --write

fix: Remove unused vite-tsconfig-paths dependency causing Vercel build failure
  web-platform/package-lock.json
  web-platform/package.json
Due: prettier --write

fix: correct employee data access in validation
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
  TEST_ANALYSIS_REPORT.md
Due: eslint --fix, prettier --write

fix: address all validation logic errors identified by cursor bot
  CashApp-iOS/CashAppPOS/__tests__/simple-test.test.ts
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
Due: eslint --fix, prettier --write

test: add critical onboarding tests and test utilities
  CashApp-iOS/CashAppPOS/src/screens/onboarding/__tests__/ComprehensiveRestaurantOnboardingScreen.test.tsx
  CashApp-iOS/CashAppPOS/src/test-utils.tsx
Due: eslint --fix, prettier --write

fix: resolve duplicate variable declarations in onboarding screen
  CashApp-iOS/CashAppPOS/src/screens/onboarding/ComprehensiveRestaurantOnboardingScreen.tsx
Due: eslint --fix, prettier --write
