Repository Lucid-Directions/cashapp-fynlo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, black, isort, flake8

fix: address CursorBot review feedback
  backend/app/api/v1/endpoints/restaurants.py
  backend/app/core/two_factor_auth.py
Due: black, isort, flake8

fix: replace console.error with logger.error for consistent logging
  CashApp-iOS/CashAppPOS/src/screens/settings/PaymentProviderSettingsScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/SumUpConfigService.ts
  CashApp-iOS/CashAppPOS/src/services/XeroCustomerSyncService.ts
  CashApp-iOS/CashAppPOS/src/services/providers/SumUpPaymentProvider.ts
  CashApp-iOS/CashAppPOS/src/utils/clearAuthStorage.ts
Due: eslint --fix

fix: replace remaining console.error instances in XeroCustomerSyncService
  CashApp-iOS/CashAppPOS/src/services/XeroCustomerSyncService.ts
Due: eslint --fix

feat: add comprehensive Python quality check workflow
  .github/workflows/python-quality-check.yml
Due: none

fix: make Python quality checks non-blocking temporarily
  .github/workflows/python-quality-check.yml
Due: none

fix: syntax errors found during PR #459 analysis
  PR-459-RESOLUTION-REPORT.md
  backend/app/api/v1/endpoints/menu_optimized.py
  backend/app/api/v1/endpoints/payment_configurations.py
  backend/app/api/v1/endpoints/secure_payments.py
  backend/app/api/v1/endpoints/tips.py
  backend/app/core/analytics_engine.py
  backend/app/core/cache_service.py
  backend/app/core/logging_filters.py
  backend/app/core/production_guard.py
  backend/app/core/push_notifications.py
  backend/app/core/rate_limiter.py
  backend/app/core/response_helper.py
  backend/app/core/security.py
  backend/app/core/sync_manager.py
  backend/app/core/tenant_security.py.backup
  backend/app/core/tenant_security_current.py
  backend/app/core/transaction_manager.py
  backend/app/core/validators.py
  backend/app/core/websocket.py
  backend/app/crud/inventory.py
  backend/app/middleware/security_headers_middleware.py
  backend/app/models/platform_audit.py
  backend/app/schemas/employee_schemas.py
  backend/app/schemas/search_schemas.py
  backend/app/schemas/subscription.py
  backend/app/scripts/migrate_to_platform_settings.py
  backend/app/services/activity_logger.py
  backend/app/services/email_service.py
  backend/app/services/financial_records_service.py
  backend/app/services/ocr_service.py
  backend/app/services/payment_config_service.py
  backend/app/services/payment_factory.py
  backend/app/services/payment_providers.py
  backend/app/services/payment_providers/cash_provider.py
  backend/app/services/payment_providers/square_provider.py
  backend/app/services/payment_providers/sumup_provider.py
  backend/app/services/secure_payment_config.py
  backend/app/services/staff_tip_service.py
  backend/check_docstrings.py
Due: black, isort, flake8

docs: update CLAUDE.md with Python quality tools and PR resolution workflow
  CLAUDE.md
Due: none

fix: resolve all 5 remaining Python syntax errors
  backend/app/api/v1/endpoints/config.py
  backend/app/core/security.py
  backend/app/schemas/employee_schemas.py
  backend/app/schemas/subscription.py
  backend/app/scripts/initialize_platform_defaults.py
  backend/app/scripts/migrate_to_platform_settings.py
  backend/app/services/activity_logger.py
Due: black, isort, flake8

fix: resolve Python syntax errors in modified files
  backend/app/api/v1/endpoints/config.py
  backend/app/api/v1/endpoints/config.py.backup
  backend/app/schemas/employee_schemas.py
  backend/app/schemas/subscription.py
  backend/app/services/activity_logger.py.backup
Due: black, isort, flake8

docs: add MANDATORY syntax checking workflow to prevent future errors
  CLAUDE.md
Due: none

docs: highlight that pre-commit hooks exist but are NOT installed
  CLAUDE.md
Due: none

feat: install pre-commit hooks and update CLAUDE.md with comprehensive syntax checking guide
  .pre-commit-config.yaml
  CLAUDE.md
  backend/app/api/v1/endpoints/config.py
Due: black, isort, flake8

chore: organize documentation - move PR analysis and temporary docs to DOCS/archive
  CLAUDE.md
  CLEANUP_REPORT.md
  DIGITALOCEAN_REPLICA_FIX_PLAN.md
  DOCS/MCP_SERVER_TROUBLESHOOTING.md
  DOCS/archive/migration-reports/SECURITY_AUDIT_ANALYSIS.md
  DOCS/archive/misc/SUMUP_DEPLOYMENT_CHECKLIST.md
  DOCS/archive/misc/VERCEL_DEPLOYMENT_FIX.md
  DOCS/archive/pr-analysis/PR-467-REMAINING-WORK.md
  ERROR_HANDLING_SECURITY_REPORT.md
  EXPERT_CLEANUP_REVIEW.md
  FYNLO_PR_GUARDIAN_ANALYSIS.md
  OPTIMIZATION_SUMMARY.md
  PR_412_FINAL_GUARDIAN_ANALYSIS.md
  PR_414_FINAL_SECURITY_ASSESSMENT.md
  PR_414_SECURITY_FIXES.md
  PR_426_FINAL_GUARDIAN_ANALYSIS.md
  PR_426_GUARDIAN_ANALYSIS.md
  PR_428_FINAL_GUARDIAN_REPORT.md
  PR_428_GUARDIAN_ANALYSIS.md
  PR_430_GUARDIAN_ANALYSIS.md
  PR_431_GUARDIAN_ANALYSIS.md
  PR_GUARDIAN_ANALYSIS.md
  PR_GUARDIAN_ANALYSIS_386.md
  PR_UPDATE.md
  SQL_INJECTION_FIX_REPORT.md
  TEST_ANALYSIS_REPORT.md
  scripts/organize-documentation.sh
Due: none

fix: apply Python syntax fixes to make CI/CD pass
  backend/app/api/v1/endpoints/inventory.py
  backend/app/api/v1/endpoints/websocket_portal.py
  backend/app/core/config.py
  backend/app/integration/notification_events.py
  backend/app/integration/websocket_events.py
  backend/app/main_minimal.py
  backend/app/services/secure_payment_config.py
Due: black, isort, flake8

fix: resolve Python syntax errors blocking CI/CD
  fix_line_lengths.py
Due: none

fix: add missing logger imports to prevent runtime errors
  backend/app/api/v1/endpoints/websocket_portal.py
  backend/app/core/config.py
  backend/app/integration/notification_events.py
  backend/app/integration/websocket_events.py
  backend/app/services/secure_payment_config.py
Due: black, isort, flake8

docs: add mandatory Python syntax checking workflow to CLAUDE.md
  CLAUDE.md
Due: none

config: add comprehensive pre-commit hooks for code quality
  .pre-commit-config.yaml
Due: none

feat: implement item modifications system (Phase 2)
  CashApp-iOS/CashAppPOS/src/components/cart/ItemModificationModal.tsx
  CashApp-iOS/CashAppPOS/src/hooks/__tests__/useItemModifications.test.ts
  CashApp-iOS/CashAppPOS/src/hooks/useItemModifications.ts
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/ModificationPricingService.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/ModificationPricingService.test.ts
  CashApp-iOS/CashAppPOS/src/utils/__tests__/modificationHelpers.test.ts
  CashApp-iOS/CashAppPOS/src/utils/modificationHelpers.ts
Due: eslint --fix

feat: implement Phase 1 of enhanced cart management - type system and migration
  CashApp-iOS/CashAppPOS/src/store/cartStoreAdapter.ts
  CashApp-iOS/CashAppPOS/src/store/useEnhancedCartStore.ts
  CashApp-iOS/CashAppPOS/src/types/cart.ts
  CashApp-iOS/CashAppPOS/src/types/index.ts
  CashApp-iOS/CashAppPOS/src/utils/__tests__/cartMigration.test.ts
  CashApp-iOS/CashAppPOS/src/utils/__tests__/cartTypeGuards.test.ts
  CashApp-iOS/CashAppPOS/src/utils/cartMigration.ts
  CashApp-iOS/CashAppPOS/src/utils/cartTypeGuards.ts
Due: eslint --fix

feat: implement Phase 3 - Split Bill Feature
  CashApp-iOS/CashAppPOS/src/components/cart/SplitBillGroupCard.tsx
  CashApp-iOS/CashAppPOS/src/components/cart/SplitBillModal.tsx
  CashApp-iOS/CashAppPOS/src/hooks/__tests__/useSplitBill.test.ts
  CashApp-iOS/CashAppPOS/src/hooks/useSplitBill.ts
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/SplitBillService.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/SplitBillService.test.ts
  CashApp-iOS/CashAppPOS/src/utils/__tests__/splitBillHelpers.test.ts
  CashApp-iOS/CashAppPOS/src/utils/splitBillHelpers.ts
Due: eslint --fix

fix: resolve 3 bugs identified by Cursor Bot in PR #516
  CashApp-iOS/CashAppPOS/src/hooks/useItemModifications.ts
  CashApp-iOS/CashAppPOS/src/store/cartStoreAdapter.ts
  CashApp-iOS/CashAppPOS/src/utils/splitBillHelpers.ts
Due: eslint --fix

feat: add automation tools from PR #459 (not code changes)
  .pre-commit-config.yaml
  backend/.flake8
  scripts/batch-resolve-conflicts.py
  scripts/pr459_fixer.py
  scripts/python-quality-check.py
Due: none

fix: use python3 instead of python in pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix: refactor dynamic styles to be statically analyzable by ESLint
  CashApp-iOS/CashAppPOS/src/components/cart/CartIcon.tsx
  CashApp-iOS/CashAppPOS/src/components/layout/Container.tsx
  CashApp-iOS/CashAppPOS/src/components/ui/Button.tsx
Due: eslint --fix

fix: complete dynamic styles cleanup to eliminate ESLint false positives
  CashApp-iOS/CashAppPOS/src/components/cart/ItemModificationModal.tsx
  CashApp-iOS/CashAppPOS/src/components/cart/SplitBillGroupCard.tsx
  CashApp-iOS/CashAppPOS/src/components/cart/SplitBillModal.tsx
  CashApp-iOS/CashAppPOS/src/components/modals/ReceiptScanModal.tsx
  CashApp-iOS/CashAppPOS/src/components/search/CategorySearchBubble.tsx
  CashApp-iOS/CashAppPOS/src/components/theme/ThemeSwitcher.tsx
  CashApp-iOS/CashAppPOS/src/components/ui/Badge.tsx
  CashApp-iOS/CashAppPOS/src/components/ui/Card.tsx
  CashApp-iOS/CashAppPOS/src/components/ui/Input.tsx
  CashApp-iOS/CashAppPOS/src/components/ui/List.tsx
  CashApp-iOS/CashAppPOS/src/components/ui/Modal.tsx
  CashApp-iOS/CashAppPOS/src/design-system/ThemeProvider.tsx
  CashApp-iOS/CashAppPOS/src/screens/customers/CustomersScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/DashboardScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/HomeHubScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/OrdersScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/ProfileScreen.tsx
Due: eslint --fix

fix: remove hardcoded secrets from backend configuration
  CLAUDE.md
  backend/.env.example
  backend/app/core/config.py
  backend/scripts/seed_production_data.py
Due: black, isort, flake8

fix: critical security issues identified by Cursor bot
  backend/app/core/config.py
  backend/scripts/seed_production_data.py
Due: black, isort, flake8

fix: remove hardcoded encryption key - CRITICAL security fix
  .env.example
  CLAUDE.md
  RYAN_SETUP.md
  backend/app/services/secure_payment_config.py
  backend/env_validation_test_report.md
  backend/tests/api/v1/test_orders_customer_info.py
  backend/tests/e2e/test_payment_providers.py
  backend/tests/integration/test_email_refund.py
  backend/tests/test_auth_uuid_consistency.py
  backend/tests/test_error_handling_security.py
  backend/tests/test_example_full_coverage.py
  backend/tests/test_helpers.py
  backend/tests/test_patterns_guide.py
  backend/tests/test_rate_limiting.py
Due: black, isort, flake8

fix: remove remaining hardcoded passwords and sensitive files
  backend/.env
  backend/.env.local.example
  backend/.gitignore
  backend/SECURITY_MIGRATION_GUIDE.md
  backend/app/core/config.py
  backend/app/core/password_utils.py
  backend/app/services/employee_service.py
  backend/scripts/seed_production_data.py
  backend/tests/test_config_system.py
Due: black, isort, flake8

fix: critical deployment failure - JSON serialization error in SQL injection middleware
  .do/app.yaml.updated
  backend/.env.production.example
  backend/.env.test.example
  backend/app/middleware/sql_injection_waf.py
  backend/app/services/employee_service.py
  scripts/generate-secret-key.py
Due: black, isort, flake8

feat: reorganize agent markdown files into department-based structure
  .claude/agents/README.md
  .claude/agents/STRUCTURE.md
  .claude/agents/customer-success/restaurant-onboarding-specialist.md
  .claude/agents/engineering/development-agent.md
  .claude/agents/engineering/fynlo-api-optimizer.md
  .claude/agents/engineering/fynlo-bundle-deployer.md
  .claude/agents/engineering/fynlo-code-hygiene-agent.md
  .claude/agents/engineering/fynlo-websocket-debugger.md
  .claude/agents/engineering/payment-flow-optimizer.md
  .claude/agents/github/README.md
  .claude/agents/github/fynlo-pr-guardian.md
  .claude/agents/github/issue-triage-specialist.md
  .claude/agents/github/pr-conflict-resolver.md
  .claude/agents/github/pr-decomposer.md
  .claude/agents/github/pr-guardian.md
  .claude/agents/github/release-coordinator.md
  .claude/agents/github/version-control-agent.md
  .claude/agents/operations/fynlo-infrastructure-manager.md
  .claude/agents/operations/setup-agent.md
  .claude/agents/planning/documentation-agent.md
  .claude/agents/planning/planning-agent.md
  .claude/agents/planning/research-agent.md
  .claude/agents/pos-operations/fynlo-pos-payment-agent.md
  .claude/agents/pos-operations/inventory-control-specialist.md
  .claude/agents/pos-operations/order-flow-orchestrator.md
  .claude/agents/pos-operations/staff-coordination-manager.md
  .claude/agents/product/fynlo-platform-integrator.md
  .claude/agents/product/menu-engineering-advisor.md
  .claude/agents/product/restaurant-success-optimizer.md
  .claude/agents/security/fynlo-security-auditor.md
  .claude/agents/security/multi-tenant-guardian.md
  .claude/agents/testing/fynlo-test-runner.md
  .claude/agents/testing/pos-scenario-tester.md
  .claude/agents/testing/testing-agent.md
  .claude/subagents/backend-api-developer.md
  .claude/subagents/ios-bundle-builder.md
  .claude/subagents/security-guard.md
Due: none

fix: relax production validation for deployment
  backend/app/core/config.py
Due: black, isort, flake8

fix: prevent .env file loading in production deployments
  backend/.dockerignore
  backend/app/core/config.py
Due: black, isort, flake8

fix: allow SumUp sandbox environment in production deployments
  backend/app/core/config.py
Due: black, isort, flake8

debug: add detailed logging for SUMUP_ENVIRONMENT validation
  backend/app/core/config.py
Due: black, isort, flake8

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  black: any of: backend/**/*.py
  isort: any of: backend/**/*.py
  flake8: any of: backend/**/*.py
