Repository Lucid-Directions/cashapp-fynlo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, black, isort, flake8

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": [],
  "backend/**/*.py": ["black", "isort", "flake8"]
}

test: improve test infrastructure from 76% to 81% pass rate
  CashApp-iOS/CashAppPOS/__tests__/testSetup.ts
  CashApp-iOS/CashAppPOS/__tests__/utils/errorHandler.test.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/DatabaseService.test.ts
  CashApp-iOS/CashAppPOS/src/utils/testDataService.ts
  TEST_STATUS_REPORT.md
Due: eslint --fix

test: configure tests for REAL infrastructure (no mocks!)
  CashApp-iOS/CashAppPOS/__mocks__/config/api.ts
  CashApp-iOS/CashAppPOS/__tests__/config/real.test.config.ts
  CashApp-iOS/CashAppPOS/__tests__/testSetup.real.ts
  CashApp-iOS/CashAppPOS/__tests__/testSetup.tmp
  CashApp-iOS/CashAppPOS/__tests__/testSetup.ts
  CashApp-iOS/CashAppPOS/jest.unit.config.js
  CashApp-iOS/CashAppPOS/setup-test-env.sh
  CashApp-iOS/CashAppPOS/src/__tests__/integration/api.test.ts
  CashApp-iOS/CashAppPOS/src/__tests__/performance/performance.test.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/APIIntegration.test.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/__tests__/reconnection.test.ts
  REMAINING_9_PERCENT_FAILURES.md
Due: eslint --fix

test: use REAL existing users for testing (no test accounts needed!)
  CashApp-iOS/CashAppPOS/setup-test-env.sh
  CashApp-iOS/CashAppPOS/src/__tests__/config/test.config.ts
Due: eslint --fix

test: configure tests to use Arnaud's real Supabase accounts
  CLAUDE.md
  CashApp-iOS/CashAppPOS/setup-test-env.sh
  CashApp-iOS/CashAppPOS/src/__tests__/config/test.config.ts
Due: eslint --fix

fix: TypeScript syntax error - remove escaped exclamation marks
  CashApp-iOS/CashAppPOS/__tests__/testSetup.ts
  CashApp-iOS/CashAppPOS/src/__tests__/integration/api.test.ts
Due: eslint --fix

fix: resolve test setup issues for real infrastructure
  CashApp-iOS/CashAppPOS/__tests__/testSetup.real.ts
Due: eslint --fix

fix: Phase 1 - Payment UI integration foundation
  CashApp-iOS/CashAppPOS/src/components/payment/PaymentErrorRecovery.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/PaymentStatusOverlay.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/SumUpPaymentComponent.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/index.ts
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentProcessingScreen.tsx
  CashApp-iOS/CashAppPOS/yarn.lock
Due: eslint --fix

fix: Resolve all PR Guardian issues for payment UI integration
  CashApp-iOS/CashAppPOS/src/components/payment/PaymentErrorRecovery.tsx.bak
  CashApp-iOS/CashAppPOS/src/components/payment/PaymentStatusOverlay.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/SecurePaymentMethodSelector.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/SumUpPaymentComponent.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/__tests__/PaymentErrorRecovery.test.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/__tests__/PaymentStatusOverlay.test.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/__tests__/SumUpPaymentComponent.test.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/index.ts
  CashApp-iOS/CashAppPOS/src/design-system/constants.ts
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentProcessingScreen.tsx
Due: eslint --fix

fix: Remove final 2 'any' types for 100% TypeScript compliance
  CashApp-iOS/CashAppPOS/src/components/payment/PaymentErrorRecovery.tsx.bak
  CashApp-iOS/CashAppPOS/src/components/payment/SecurePaymentMethodSelector.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentProcessingScreen.tsx
Due: eslint --fix

fix: correct VAT calculation in PaymentProcessingScreen
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentProcessingScreen.tsx
Due: eslint --fix

fix: correct amount formatting in PaymentErrorRecovery
  CashApp-iOS/CashAppPOS/src/components/payment/PaymentErrorRecovery.tsx
Due: eslint --fix

test: add credentials for real user testing
  CashApp-iOS/CashAppPOS/setup-test-env.sh
  CashApp-iOS/CashAppPOS/src/__tests__/config/test.config.ts
Due: eslint --fix

fix: WAF middleware false positives blocking JWT tokens (85% → 100% tests)
  CashApp-iOS/CashAppPOS/__tests__/config/real.test.config.ts
  CashApp-iOS/CashAppPOS/__tests__/performance/performance.test.ts
  CashApp-iOS/CashAppPOS/__tests__/utils/errorHandler.test.ts
  CashApp-iOS/CashAppPOS/src/__tests__/helpers/realApiTestHelper.ts
  CashApp-iOS/CashAppPOS/src/__tests__/performance/performance.test.ts
  CashApp-iOS/CashAppPOS/src/services/DataPrefetcher.ts
  CashApp-iOS/CashAppPOS/src/services/auth/unifiedAuthService.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/__tests__/reconnection.test.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/__tests__/websocket.integration.test.ts
  CashApp-iOS/CashAppPOS/src/utils/performance.ts
  PR_543_COMPREHENSIVE_STATUS.md
  backend/app/middleware/sql_injection_waf.py
Due: eslint --fix, black, isort, flake8

fix: remove timestamp manipulation in cartMigration
  CashApp-iOS/CashAppPOS/src/utils/cartMigration.ts
Due: eslint --fix

fix: implement secure offline mode with sync queue (Issue #392)
  CashApp-iOS/CashAppPOS/OFFLINE_MODE_FIXES_APPLIED.md
  CashApp-iOS/CashAppPOS/__tests__/services/offline/OfflineQueueService.test.ts
  CashApp-iOS/CashAppPOS/__tests__/services/offline/SecureOfflineQueueService.test.ts
  CashApp-iOS/CashAppPOS/add-bundle-to-project.py
  CashApp-iOS/CashAppPOS/docs/OFFLINE_MODE.md
  CashApp-iOS/CashAppPOS/docs/OFFLINE_MODE_PRODUCTION.md
  CashApp-iOS/CashAppPOS/src/components/sync/ExampleUsage.tsx
  CashApp-iOS/CashAppPOS/src/components/sync/NetworkAlertBanner.tsx
  CashApp-iOS/CashAppPOS/src/components/sync/README.md
  CashApp-iOS/CashAppPOS/src/components/sync/SyncErrorBoundary.tsx
  CashApp-iOS/CashAppPOS/src/components/sync/SyncStatusBar.tsx
  CashApp-iOS/CashAppPOS/src/components/sync/__tests__/SyncStatusBar.test.tsx
  CashApp-iOS/CashAppPOS/src/components/sync/index.ts
  CashApp-iOS/CashAppPOS/src/hooks/useSyncStatus.ts
  CashApp-iOS/CashAppPOS/src/services/DataService.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/DataService.offline.test.ts
  CashApp-iOS/CashAppPOS/src/services/offline/OfflineQueueService.ts
  CashApp-iOS/CashAppPOS/src/services/offline/README.md
  CashApp-iOS/CashAppPOS/src/services/offline/SecureOfflineQueueService.ts
  CashApp-iOS/CashAppPOS/src/services/offline/__tests__/OfflineQueueService.test.ts
  CashApp-iOS/CashAppPOS/src/services/offline/index.ts
  CashApp-iOS/CashAppPOS/src/utils/exceptions/FynloException.ts
  CashApp-iOS/CashAppPOS/tsconfig.json
Due: eslint --fix

fix: address all PR Guardian security issues for 100% production readiness
  CashApp-iOS/CashAppPOS/__tests__/services/offline/SecureOfflineQueueService.test.ts
  CashApp-iOS/CashAppPOS/src/config/offlineConfig.test.ts
  CashApp-iOS/CashAppPOS/src/config/offlineConfig.ts
  CashApp-iOS/CashAppPOS/src/services/offline/SecureOfflineQueueService.ts
  CashApp-iOS/CashAppPOS/src/utils/exceptions/FynloException.ts
Due: eslint --fix

fix: CRITICAL - implement per-restaurant rate limiting for multi-tenant isolation
  CashApp-iOS/CashAppPOS/src/services/offline/SecureOfflineQueueService.ts
Due: eslint --fix

fix: address Cursor bot findings for PR #548
  CashApp-iOS/CashAppPOS/src/components/sync/README.md
  CashApp-iOS/CashAppPOS/src/services/offline/README.md
  CashApp-iOS/CashAppPOS/src/services/offline/SecureOfflineQueueService.ts
  PR_548_FIXES.md
Due: eslint --fix

fix: implement secure offline mode with sync queue (Issue #392)
  CashApp-iOS/CashAppPOS/OFFLINE_MODE_FIXES_APPLIED.md
  CashApp-iOS/CashAppPOS/__tests__/services/offline/OfflineQueueService.test.ts
  CashApp-iOS/CashAppPOS/__tests__/services/offline/SecureOfflineQueueService.test.ts
  CashApp-iOS/CashAppPOS/add-bundle-to-project.py
  CashApp-iOS/CashAppPOS/docs/OFFLINE_MODE.md
  CashApp-iOS/CashAppPOS/docs/OFFLINE_MODE_PRODUCTION.md
  CashApp-iOS/CashAppPOS/src/components/sync/ExampleUsage.tsx
  CashApp-iOS/CashAppPOS/src/components/sync/NetworkAlertBanner.tsx
  CashApp-iOS/CashAppPOS/src/components/sync/README.md
  CashApp-iOS/CashAppPOS/src/components/sync/SyncErrorBoundary.tsx
  CashApp-iOS/CashAppPOS/src/components/sync/SyncStatusBar.tsx
  CashApp-iOS/CashAppPOS/src/components/sync/__tests__/SyncStatusBar.test.tsx
  CashApp-iOS/CashAppPOS/src/components/sync/index.ts
  CashApp-iOS/CashAppPOS/src/config/offlineConfig.test.ts
  CashApp-iOS/CashAppPOS/src/config/offlineConfig.ts
  CashApp-iOS/CashAppPOS/src/hooks/useSyncStatus.ts
  CashApp-iOS/CashAppPOS/src/services/DataService.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/DataService.offline.test.ts
  CashApp-iOS/CashAppPOS/src/services/offline/OfflineQueueService.ts
  CashApp-iOS/CashAppPOS/src/services/offline/README.md
  CashApp-iOS/CashAppPOS/src/services/offline/SecureOfflineQueueService.ts
  CashApp-iOS/CashAppPOS/src/services/offline/__tests__/OfflineQueueService.test.ts
  CashApp-iOS/CashAppPOS/src/services/offline/index.ts
  CashApp-iOS/CashAppPOS/src/utils/exceptions/FynloException.ts
  CashApp-iOS/CashAppPOS/tsconfig.json
  PR_548_FIXES.md
Due: eslint --fix

fix: authentication errors and Remember Me functionality
  CashApp-iOS/CashAppPOS/src/contexts/AuthContext.tsx
  CashApp-iOS/CashAppPOS/src/screens/auth/SignInScreen.tsx
  backend/app/api/v1/endpoints/auth.py
  docs/archive/infrastructure/BREAKING_CHANGES.md
  docs/archive/infrastructure/DIGITALOCEAN_OPTIMIZATION.md
  docs/archive/misc/RYAN_SETUP.md
  docs/archive/pr-analysis/PR_543_COMPREHENSIVE_STATUS.md
  docs/archive/pr-analysis/PR_543_CRITICAL_CONTEXT.md
  docs/archive/test-reports/REMAINING_9_PERCENT_FAILURES.md
  docs/archive/test-reports/TEST_INFRASTRUCTURE_CONTEXT.md
  docs/archive/test-reports/TEST_STATUS_REPORT.md
  docs/archive/test-reports/WHY_TESTS_WERE_SKIPPED.md
  docs/archive/test-reports/react-native-style-warnings-progress-report.md
  docs/archive/tools/PIECES_INTEGRATION.md
  docs/archive/tools/PIECES_WORKFLOW.md
  docs/project-readme-backup.md
Due: eslint --fix, black, isort, flake8

docs: clarify NO localhost rule in CLAUDE.md
  CLAUDE.md
Due: none

fix: Remember Me checkbox state persistence
  CashApp-iOS/CashAppPOS/src/screens/auth/SignInScreen.tsx
Due: eslint --fix

fix: remaining AuditEventType.AUTHENTICATION errors
  backend/app/api/v1/endpoints/auth.py
Due: black, isort, flake8

fix: add missing database columns for user multi-restaurant support
  CashApp-iOS/CashAppPOS/test-waf-fix.js
  backend/alembic/versions/012_add_missing_user_columns.py
Due: eslint --fix, black, isort, flake8

fix: address PR review comments - remove test file and fix migration
  CashApp-iOS/CashAppPOS/test-waf-fix.js
  backend/alembic/versions/012_add_missing_user_columns.py
Due: eslint --fix, black, isort, flake8

fix: make migration downgrade a no-op to prevent data loss
  backend/alembic/versions/012_add_missing_user_columns.py
Due: black, isort, flake8

feat: auto-run database migrations on app startup
  backend/app/core/run_migrations.py
  backend/app/main.py
Due: black, isort, flake8

fix: enhance migration logging to debug deployment issues
  backend/app/core/run_migrations.py
Due: black, isort, flake8

fix: WAF middleware false positives blocking JWT tokens (85% → 100% tests)
  PR_543_COMPREHENSIVE_STATUS.md
Due: none

fix: add detailed error logging to auth endpoint for debugging 500 errors
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/config.py
  backend/app/api/v1/endpoints/dashboard.py
  backend/app/api/v1/endpoints/fees.py
  backend/app/api/v1/endpoints/inventory.py
  backend/app/api/v1/endpoints/payment_configurations.py
  backend/app/api/v1/endpoints/platform_admin.py
  backend/app/api/v1/endpoints/platform_settings.py
  backend/app/api/v1/endpoints/public_menu.py
  backend/app/api/v1/endpoints/recipes.py
  backend/app/api/v1/endpoints/restaurant_deletion.py
  backend/app/api/v1/endpoints/restaurant_switch.py
  backend/app/api/v1/endpoints/restaurants.py
  backend/app/api/v1/endpoints/secure_payments.py
  backend/app/api/v1/endpoints/tips.py
  backend/app/api/v1/endpoints/websocket_portal.py
  backend/app/core/analytics_engine.py
  backend/app/services/audit_logger.py
  backend/app/services/config_manager.py
  backend/app/services/employee_service.py
  backend/app/services/monitoring.py
  backend/app/services/platform_service.py
  backend/app/services/staff_tip_service.py
  test-auth-now.py
  test-production-auth.py
  test-which-key.py
Due: black, isort, flake8

fix: add database migration for missing user columns
  backend/alembic/versions/fix_missing_user_columns_20250807.py
  fix-database-schema.sql
Due: black, isort, flake8

fix: correct migration down_revision to valid parent
  backend/alembic/versions/fix_missing_user_columns_20250807.py
Due: black, isort, flake8

fix: WebSocket authentication by passing token and user_id as query parameters
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
Due: eslint --fix

fix: address cursor bot review findings for WebSocket authentication
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
Due: eslint --fix

fix: critical token manager corruption and race condition issues
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
Due: eslint --fix

fix: React Native WebSocket compatibility and listener leak issues
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
Due: eslint --fix

fix: critical reauthentication handler and state issues
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
Due: eslint --fix

fix: WebSocket cleanup bypass causing memory and timer leaks
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
Due: eslint --fix

fix: WebSocket URL query parameters for React Native compatibility
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
Due: eslint --fix

debug: Add comprehensive WebSocket debugging to identify auth issue
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
Due: eslint --fix
