Repository Lucid-Directions/cashapp-fynlo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, black, isort, flake8

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": [],
  "backend/**/*.py": ["black", "isort", "flake8"]
}

fix: critical security vulnerabilities in tenant access validation
  backend/app/api/v1/endpoints/products_secure.py
  backend/app/core/tenant_security.py
Due: black, isort, flake8

fix: remove @ts-ignore and @ts-nocheck directives
  CashApp-iOS/CashAppPOS/src/__tests__/performance/performance.test.ts
  CashApp-iOS/CashAppPOS/src/__tests__/utils/testProviders.tsx
  CashApp-iOS/CashAppPOS/src/__tests__/utils/testUtils.tsx
  CashApp-iOS/CashAppPOS/src/integration/health.test.ts
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/__tests__/POSScreen.test.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/ServiceChargeSelectionScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/RecipesScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/websocket/__tests__/EnhancedWebSocketService.test.ts
Due: eslint --fix

fix: add eslint-disable for require statements
  CashApp-iOS/CashAppPOS/src/__tests__/OnboardingNavigationTests.tsx
  CashApp-iOS/CashAppPOS/src/__tests__/integration/api.test.ts
  CashApp-iOS/CashAppPOS/src/components/payment/QRCodePayment.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/__tests__/POSScreen.MenuItemCard.test.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/__tests__/POSScreen.test.tsx
  CashApp-iOS/CashAppPOS/src/screens/payments/QRCodePaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payments/SquareCardPaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payments/SquareContactlessPaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/SquareService.ts
  CashApp-iOS/CashAppPOS/src/services/__tests__/DatabaseService.test.ts
  CashApp-iOS/CashAppPOS/src/store/__tests__/useAppStore.test.ts
Due: eslint --fix

fix: remove remaining console statements
  CashApp-iOS/CashAppPOS/src/components/Logo.tsx
  CashApp-iOS/CashAppPOS/src/components/__tests__/ErrorBoundary.test.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen_old.tsx
  CashApp-iOS/CashAppPOS/src/screens/settings/app/MenuManagementScreen.tsx
  CashApp-iOS/CashAppPOS/src/utils/__tests__/authRaceConditionTest.ts
  CashApp-iOS/CashAppPOS/src/utils/testOnboardingFlow.ts
Due: eslint --fix

fix: add restaurant_id to Recipe model for multi-tenant isolation
  backend/alembic/versions/add_restaurant_id_to_recipe.py
  backend/alembic/versions/e83749019fca_merge_heads_before_recipe_changes.py
  backend/app/api/v1/endpoints/recipes.py
  backend/app/core/database.py
  backend/app/crud/inventory.py
  backend/tests/test_recipe_multi_tenant_isolation.py
Due: black, isort, flake8

fix: address PR review comments for multi-tenant Recipe isolation
  backend/alembic/versions/add_restaurant_id_to_recipe.py
  backend/app/crud/inventory.py
  backend/tests/test_recipe_multi_tenant_isolation.py
Due: black, isort, flake8

fix: add authentication rate limiting to prevent brute force attacks
  backend/app/api/v1/endpoints/auth.py
  backend/docs/auth_rate_limiting.md
  backend/tests/test_recipe_multi_tenant_isolation.py
Due: black, isort, flake8

fix: implement fail-closed Redis fallback to prevent security holes
  backend/app/api/v1/endpoints/health.py
  backend/app/core/exceptions.py
  backend/app/core/redis_client.py
  backend/app/core/websocket_rate_limiter.py
  backend/docs/redis_security_fallback.md
  backend/tests/test_redis_fallback_security.py
Due: black, isort, flake8

fix: critical websocket authentication bypass vulnerability
  backend/ISSUE_389_MIDDLEWARE_ASSESSMENT.md
  backend/app/api/v1/endpoints/websocket.py
Due: black, isort, flake8

feat: implement Redis caching layer to reduce database costs
  CLAUDE.md
  backend/app/api/v1/endpoints/menu.py
  backend/app/api/v1/endpoints/products.py
  backend/app/core/cache_service.py
  backend/app/core/cache_warmer.py
  backend/app/main.py
  backend/tests/test_cache_service.py
  backend/tests/test_cache_warmer.py
  backend/tests/test_cached_endpoints.py
Due: black, isort, flake8

fix: correct field name from is_available to is_active in cache warmer
  backend/app/core/cache_service.py
  backend/app/core/cache_warmer.py
  backend/tests/test_cache_service.py
  backend/tests/test_cache_warmer.py
  backend/tests/test_cached_endpoints.py
Due: black, isort, flake8

fix: resolve all test failures in Redis caching implementation
  backend/app/core/cache_service.py
  backend/app/core/cache_warmer.py
  backend/app/main.py
  backend/tests/test_cache_service.py
  backend/tests/test_cache_warmer.py
  backend/tests/test_cached_endpoints.py
Due: black, isort, flake8

fix: resolve database session management and cache key mismatch issues
  backend/app/api/v1/endpoints/menu.py
  backend/app/core/cache_warmer.py
  backend/app/main.py
  backend/tests/test_cache_warmer.py
Due: black, isort, flake8

fix: resolve cache prefix mismatch for effective cache warming and invalidation
  backend/app/core/cache_service.py
  backend/app/core/cache_warmer.py
  backend/tests/test_cache_service.py
  backend/tests/test_cache_warmer.py
Due: black, isort, flake8

fix: resolve cache invalidation issues with key hashing and parameter sorting
  backend/app/core/cache_service.py
  backend/tests/test_cache_service.py
Due: black, isort, flake8

fix: resolve SQLAlchemy relationship ambiguity causing cache warming failures
  backend/app/core/cache_warmer.py
  backend/app/core/database.py
Due: black, isort, flake8

feat: implement DigitalOcean cost optimization tools and monitoring
  docs/cost-optimization-guide.md
  scripts/digitalocean-cost-audit.py
  scripts/digitalocean-monitoring.py
  scripts/optimize-app-platform.sh
Due: none

feat: add comprehensive cost monitoring to prevent silent budget drain
  docs/cost-optimization-guide.md
  scripts/digitalocean-billing-alerts.py
  scripts/digitalocean-daily-costs.py
  tasks/cost-monitoring-implementation.md
Due: none

fix: address Cursor bot review findings in cost optimization scripts
  scripts/digitalocean-billing-alerts.py
  scripts/digitalocean-daily-costs.py
  scripts/optimize-app-platform.sh
Due: none

fix: properly address Cursor bot findings with minimal targeted fixes
  scripts/digitalocean-cost-audit.py
  scripts/digitalocean-daily-costs.py
  scripts/digitalocean-monitoring.py
Due: none

fix: correct monthly spend calculation in detect_spike function
  scripts/digitalocean-daily-costs.py
Due: none

fix: address cursor bot review findings
  scripts/digitalocean-cost-audit.py
  scripts/digitalocean-daily-costs.py
Due: none

fix: migrate HTTPException to FynloException across backend (fixes #437)
  backend/HTTPEXCEPTION_MIGRATION_COMPLETE.md
  backend/MIGRATION_REPORT.md
  backend/SECURITY_AUDIT_HTTPEXCEPTION_TO_FYNLOEXCEPTION.md
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/config.py
  backend/app/api/v1/endpoints/customers.py
  backend/app/api/v1/endpoints/dashboard.py
  backend/app/api/v1/endpoints/fees.py
  backend/app/api/v1/endpoints/inventory.py
  backend/app/api/v1/endpoints/monitoring.py
  backend/app/api/v1/endpoints/orders.py
  backend/app/api/v1/endpoints/payment_configurations.py
  backend/app/api/v1/endpoints/payments.py
  backend/app/api/v1/endpoints/platform_admin.py
  backend/app/api/v1/endpoints/platform_settings.py
  backend/app/api/v1/endpoints/platform_settings_public.py
  backend/app/api/v1/endpoints/products_secure.py
  backend/app/api/v1/endpoints/recipes.py
  backend/app/api/v1/endpoints/restaurants.py
  backend/app/api/v1/endpoints/secure_payment_provider_management.py
  backend/app/api/v1/endpoints/secure_payments.py
  backend/app/api/v1/endpoints/tips.py
  backend/app/api/v1/endpoints/websocket_rate_limit_patch.py
  backend/app/services/secure_payment_processor.py
  backend/scripts/migrate_httpexception_to_fynlo_v2.py
Due: black, isort, flake8

fix: correct FynloException migration issues from PR #455
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/customers.py
  backend/app/api/v1/endpoints/inventory.py
  backend/app/api/v1/endpoints/payments.py
  backend/app/api/v1/endpoints/platform_admin.py
  backend/app/api/v1/endpoints/restaurants.py
Due: black, isort, flake8

fix: correct custom exception usage across backend endpoints
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/config.py
  backend/app/api/v1/endpoints/dashboard.py
  backend/app/api/v1/endpoints/inventory.py
  backend/app/api/v1/endpoints/payment_configurations.py
  backend/app/api/v1/endpoints/payments.py
  backend/app/api/v1/endpoints/platform_settings.py
Due: black, isort, flake8

fix: Fix remaining empty exception messages in payments, fees, and tips endpoints
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/config.py
  backend/app/api/v1/endpoints/dashboard.py
  backend/app/api/v1/endpoints/fees.py
  backend/app/api/v1/endpoints/inventory.py
  backend/app/api/v1/endpoints/payment_configurations.py
  backend/app/api/v1/endpoints/payments.py
  backend/app/api/v1/endpoints/platform_settings.py
  backend/app/api/v1/endpoints/tips.py
Due: black, isort, flake8

fix: Fix remaining bugs identified by cursor bot in PR #455
  backend/app/api/v1/endpoints/customers.py
  backend/app/api/v1/endpoints/dashboard.py
  backend/app/api/v1/endpoints/orders.py
  backend/app/api/v1/endpoints/secure_payments.py
Due: black, isort, flake8

fix: Cursor Bugbot identified issues - incorrect variable references in payment endpoints
  backend/app/api/v1/endpoints/payments.py
  backend/app/core/tenant_security.py
  backend/app/services/employee_service.py
Due: black, isort, flake8

docs: update CLAUDE.md with newly installed MCP tools for iOS development
  CLAUDE.md
Due: none

fix: correct ResourceNotFoundException parameters in API endpoints
  backend/app/api/v1/endpoints/config.py
  backend/app/api/v1/endpoints/fees.py
  backend/app/api/v1/endpoints/inventory.py
  backend/app/api/v1/endpoints/products_secure.py
Due: black, isort, flake8

fix: resolve all syntax errors identified by Cursor Bot in PR #456
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/orders.py
  backend/app/api/v1/endpoints/payment_configurations.py
  backend/app/api/v1/endpoints/restaurants.py
  backend/tests/conftest.py
Due: black, isort, flake8

fix: resolve syntax error in customers.py causing deployment failure
  backend/app/api/v1/endpoints/customers.py
Due: black, isort, flake8
