Repository Lucid-Directions/cashapp-fynlo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, docstring-check, eslint-strict, typescript-strict

.pre-commit-config.yaml:

# Pre-commit hooks for Fynlo POS
# Prevents syntax errors from being committed

repos:
  # Python syntax and style checks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--select, E999, --fix]  # E999: SyntaxError
        files: ^backend/.*\.py$
        name: Check Python syntax errors
        description: Prevents committing files with syntax errors

  # Python syntax validation using py_compile
  - repo: local
    hooks:
      - id: python-syntax-check
        name: Validate Python syntax
        entry: python -m py_compile
        language: system
        files: ^backend/.*\.py$
        pass_filenames: true
        description: Compile Python files to check for syntax errors

  # Check for unterminated strings in docstrings
  - repo: local  
    hooks:
      - id: docstring-check
        name: Check for unterminated docstrings
        entry: python -c "import ast; import sys; ast.parse(open(sys.argv[1]).read())"
        language: system
        files: ^backend/.*\.py$
        pass_filenames: true
        description: Parse Python AST to detect unterminated strings

  # TypeScript and ESLint checks for React Native
  - repo: local
    hooks:
      - id: eslint-strict
        name: ESLint with strict rules
        entry: bash -c 'cd CashApp-iOS/CashAppPOS && npm run lint -- --max-warnings=0'
        language: system
        files: ^CashApp-iOS/CashAppPOS/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        description: Run ESLint with zero tolerance for warnings
        
      - id: typescript-strict
        name: TypeScript type checking
        entry: bash -c 'cd CashApp-iOS/CashAppPOS && npx tsc --noEmit'
        language: system
        files: ^CashApp-iOS/CashAppPOS/.*\.(ts|tsx)$
        pass_filenames: false
        description: Ensure TypeScript compiles without errors

      - id: no-console-check
        name: Check for console statements
        entry: 'bash -c ''grep -r "console\." --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" CashApp-iOS/CashAppPOS/src && echo "Console statements found!" && exit 1 || exit 0'''
        language: system
        pass_filenames: false
        description: Prevent console statements in production code

      - id: no-any-check
        name: Check for TypeScript any
        entry: 'bash -c ''grep -r ": any" --include="*.ts" --include="*.tsx" CashApp-iOS/CashAppPOS/src && echo "TypeScript any types found!" && exit 1 || exit 0'''
        language: system
        pass_filenames: false
        description: Prevent use of any type in TypeScript

# Configuration
fail_fast: true  # Stop on first error
default_stages: [pre-commit]

fix: Enable Tap to Pay entitlement for physical device testing
  CashApp-iOS/CashAppPOS/ios/CashAppPOS/CashAppPOS.entitlements
Due: none

fix: Activate Tap to Pay entitlement for physical device testing
  CashApp-iOS/CashAppPOS/ios/CashAppPOS/CashAppPOS.entitlements
Due: none

fix: Correct merchant identifier to match bundle ID
  CashApp-iOS/CashAppPOS/ios/CashAppPOS/CashAppPOS.entitlements
Due: none

fix: Correct merchant identifiers to match bundle ID
  CashApp-iOS/CashAppPOS/ios/CashAppPOS/CashAppPOS.entitlements
Due: none

fix: Temporarily disable Tap to Pay entitlement to fix provisioning
  CashApp-iOS/CashAppPOS/ios/CashAppPOS/CashAppPOS.entitlements
Due: none

fix: Use correct Tap to Pay entitlement format for SumUp
  CashApp-iOS/CashAppPOS/ios/CashAppPOS/CashAppPOS.entitlements
Due: none

fix: remove CORS wildcard vulnerability and implement secure origin validation
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v1/endpoints/payments.py
  backend/app/api/v1/endpoints/websocket_enhanced.py
  backend/app/core/analytics_engine.py
  backend/app/core/auth.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/core/mobile_middleware.py
  backend/app/core/password_utils.py
  backend/app/core/rls_session_context.py
  backend/app/core/run_migrations.py
  backend/app/main.py
  backend/app/main_minimal.py
  backend/app/main_simple.py
  backend/app/middleware/security_headers_middleware.py
  backend/app/middleware/sql_injection_waf.py
  backend/app/middleware/version_middleware.py
  backend/app/models/payment_config.py
  backend/app/schemas/refund_schemas.py
  backend/app/scripts/initialize_platform_defaults.py
  backend/app/scripts/validate_migration.py
  backend/app/services/payment_providers/payment_factory.py
  backend/app/services/secure_payment_config.py
  backend/tests/test_cors_security.py
Due: python-syntax-check, docstring-check

fix: change debug logging to use logger.debug instead of logger.error
  backend/app/core/config.py
Due: python-syntax-check, docstring-check

fix: address Cursor bot findings for main_simple.py and test paths
  backend/app/main_simple.py
  backend/tests/test_cors_security.py
Due: python-syntax-check, docstring-check

fix: Use bundle ID for Tap to Pay entitlement
  CashApp-iOS/CashAppPOS/ios/CashAppPOS/CashAppPOS.entitlements
Due: none

docs: Add manual signing setup guide for Tap to Pay
  CashApp-iOS/CashAppPOS/TAP_TO_PAY_SETUP.md
  CashApp-iOS/CashAppPOS/ios/CashAppPOS.xcodeproj/project.pbxproj
  CashApp-iOS/CashAppPOS/ios/CashAppPOS/CashAppPOS.entitlements
Due: none

fix: CRITICAL - Use boolean true for Tap to Pay entitlement
  CashApp-iOS/CashAppPOS/ios/CashAppPOS/CashAppPOS.entitlements
Due: none

fix: Tap to Pay entitlement format and payment validation
  CashApp-iOS/CashAppPOS/TAP_TO_PAY_SETUP.md
  CashApp-iOS/CashAppPOS/ios/CashAppPOS.xcodeproj/project.pbxproj
  CashApp-iOS/CashAppPOS/ios/CashAppPOS/CashAppPOS.entitlements
Due: none

fix: payment processing issues - SumUp modal, Apple Pay, and date errors
  CashApp-iOS/CashAppPOS/src/screens/orders/OrdersScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/EnhancedPaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/ApplePayService.ts
Due: eslint-strict, typescript-strict

fix: make customer information optional for payment processing
  CashApp-iOS/CashAppPOS/src/screens/payment/EnhancedPaymentScreen.tsx
Due: eslint-strict, typescript-strict

docs: Add plan for PR#3 - Menu Loading Fallback
  PR3_PLAN.md
Due: none

docs: Add plan for PR#4 - Native SumUp Module Bridge
  PR4_PLAN.md
Due: none

docs: Add plan for PR#5 - Payment Flow Orchestration
  PR5_PLAN.md
Due: none

docs: Document critical backend API issues for backend team
  BACKEND_API_ISSUES.md
Due: none

feat: Add menu loading fallback and error handling
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/DataService.ts
  CashApp-iOS/CashAppPOS/src/services/FallbackMenuService.ts
Due: eslint-strict, typescript-strict

fix: Correct customer info validation logic in payment screen
  CashApp-iOS/CashAppPOS/src/screens/payment/EnhancedPaymentScreen.tsx
Due: eslint-strict, typescript-strict

fix: Remove duplicate fallback logic and improve error handling
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
Due: eslint-strict, typescript-strict

fix: Conditional receipt message and customer metadata handling
  CashApp-iOS/CashAppPOS/src/screens/payment/EnhancedPaymentScreen.tsx
Due: eslint-strict, typescript-strict

fix: correct property mismatches in FallbackMenuService
  CashApp-iOS/CashAppPOS/src/services/FallbackMenuService.ts
Due: eslint-strict, typescript-strict

fix: restore proper multi-layered fallback strategy
  CashApp-iOS/CashAppPOS/src/services/DataService.ts
  CashApp-iOS/CashAppPOS/src/services/FallbackMenuService.ts
Due: eslint-strict, typescript-strict

fix: handle null/undefined safely in menu processing
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
Due: eslint-strict, typescript-strict

fix: Remove CORS wildcard vulnerabilities and secure test files (Issue #593)
  backend/.dockerignore
  backend/REMOVED_TEST_FILES.md
  backend/app/api/v1/endpoints/websocket.py
  backend/app/simple_main.py
  backend/minimal_app.py
  backend/minimal_server.py
  backend/setup_database.py
  backend/simple_main.py
  backend/test_auth_flow.py
  backend/test_server.py
  backend/test_supabase_auth.py
Due: python-syntax-check, docstring-check

fix: Remove shell heredoc artifact from markdown documentation
  backend/REMOVED_TEST_FILES.md
Due: none

feat: implement native SumUp SDK bridge for Tap to Pay
  CashApp-iOS/CashAppPOS/src/components/payment/NativeSumUpPayment.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/EnhancedPaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/NativeSumUpService.ts
Due: eslint-strict, typescript-strict

fix: Correct WebSocket CORS property access (remove parentheses)
  backend/app/api/v1/endpoints/websocket.py
Due: python-syntax-check, docstring-check

fix: Narrow .dockerignore pattern to avoid excluding legitimate files
  backend/.dockerignore
Due: none

fix: properly handle async login call with error handling
  CashApp-iOS/CashAppPOS/src/components/payment/NativeSumUpPayment.tsx
Due: eslint-strict, typescript-strict

feat: implement Payment Orchestrator for unified payment flow
  CashApp-iOS/CashAppPOS/src/components/payment/PaymentMethodSelector.tsx
  CashApp-iOS/CashAppPOS/src/hooks/usePaymentMethods.ts
  CashApp-iOS/CashAppPOS/src/services/PaymentOrchestrator.ts
  CashApp-iOS/CashAppPOS/src/types/payment.ts
Due: eslint-strict, typescript-strict

fix: resolve stale closure and SumUp fallback issues
  CashApp-iOS/CashAppPOS/src/hooks/usePaymentMethods.ts
  CashApp-iOS/CashAppPOS/src/services/PaymentOrchestrator.ts
Due: eslint-strict, typescript-strict

fix: disable CORS allow_credentials by default for enhanced security (Issue #582)
  backend/app/core/config.py
  backend/app/main.py
  backend/app/main_minimal.py
  backend/app/main_simple.py
  backend/tests/test_cors_http.py
  backend/tests/test_cors_security.py
Due: python-syntax-check, docstring-check

fix: remove redundant state management in payment hook
  CashApp-iOS/CashAppPOS/src/hooks/usePaymentMethods.ts
Due: eslint-strict, typescript-strict

fix: resolve async initialization race condition in PaymentOrchestrator
  CashApp-iOS/CashAppPOS/src/hooks/usePaymentMethods.ts
  CashApp-iOS/CashAppPOS/src/services/PaymentOrchestrator.ts
Due: eslint-strict, typescript-strict

fix: PR #602 - Backend API Issues Documentation & Investigation
  BACKEND_API_ISSUES_INVESTIGATION.md
  CashApp-iOS/CashAppPOS/src/services/WebSocketWorkaround.ts
  backend/fixes/fix_employee_endpoints.py
  backend/fixes/fix_websocket_auth.py
Due: python-syntax-check, docstring-check, eslint-strict, typescript-strict

fix: Add missing backend API fixes and WebSocket workarounds
  BACKEND_API_ISSUES_INVESTIGATION.md
  CashApp-iOS/CashAppPOS/src/services/websocket/WebSocketAuthWorkaround.ts
  backend/fixes/fix_employee_endpoints.py
  backend/fixes/fix_websocket_auth.py
Due: python-syntax-check, docstring-check, eslint-strict, typescript-strict
