Repository Lucid-Directions/cashapp-fynlo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, docstring-check, eslint-strict, typescript-strict

python-syntax-check:
  name: Validate Python syntax
  entry: python -m py_compile
  language: system
  pass_filenames: true
  description: Compile Python files to check for syntax errors

docstring-check:
  name: Check for unterminated docstrings
  entry: python -c "import ast; import sys; ast.parse(open(sys.argv[1]).read())"
  language: system
  pass_filenames: true
  description: Parse Python AST to detect unterminated strings

eslint-strict:
  name: ESLint with strict rules
  entry: bash -c 'cd CashApp-iOS/CashAppPOS && npm run lint -- --max-warnings=0'
  language: system
  pass_filenames: false
  description: Run ESLint with zero tolerance for warnings

typescript-strict:
  name: TypeScript type checking
  entry: bash -c 'cd CashApp-iOS/CashAppPOS && npx tsc --noEmit'
  language: system
  pass_filenames: false
  description: Ensure TypeScript compiles without errors

fix: WebSocket connect method signature mismatch causing auth failure
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
Due: eslint-strict, typescript-strict

fix: WebSocket query string encoding and user.id handling
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
Due: eslint-strict, typescript-strict

fix: remove token leak and fix user ID 0 handling
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
Due: eslint-strict, typescript-strict

fix: WebSocket authentication failure - comprehensive debugging and URLSearchParams polyfill
  CashApp-iOS/CashAppPOS/App.tsx
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/WebSocketDebugService.ts
  CashApp-iOS/CashAppPOS/src/utils/urlSearchParamsPolyfill.ts
  CashApp-iOS/CashAppPOS/test-menu-loading.js
Due: eslint-strict, typescript-strict

fix: CRITICAL WebSocket fixes - React Native query param stripping & backend crash
  CashApp-iOS/CashAppPOS/CRITICAL_BACKEND_FIX_REQUIRED.md
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
  CashApp-iOS/CashAppPOS/src/utils/tokenManager.ts
Due: eslint-strict, typescript-strict

fix: critical WebSocket bugs - prevent app crashes from ws.send() exceptions
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/__tests__/EnhancedWebSocketService.test.ts
  CashApp-iOS/CashAppPOS/test_results_summary.md
Due: eslint-strict, typescript-strict

fix: ACTUAL WebSocket authentication issue - backend didn't support message auth
  backend/app/api/v1/endpoints/websocket.py
  backend/websocket_auth_fix.py
Due: python-syntax-check, docstring-check

fix: implement ChatGPT's solution - add token to WebSocket URL
  CashApp-iOS/CashAppPOS/src/hooks/useWebSocket.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
Due: eslint-strict, typescript-strict

fix: switch backend to enhanced WebSocket router with message auth
  backend/app/api/v1/api.py
Due: python-syntax-check, docstring-check

fix(websocket): robust userId validation\n\n- Normalize to string and reject empty/"0" to avoid truthiness edge cases\n- Use validated userIdStr in URL and pending auth
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
Due: eslint-strict, typescript-strict

fix: add error handling to all ws.send() calls per cursor bot review
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
Due: eslint-strict, typescript-strict

fix: align employee API paths with backend expectations
  .gitignore
  CashApp-iOS/CashAppPOS/src/services/DataService.ts
  DOCS/current-implementation/WS_and_API_Stabilization_Checklist.md
  WEBSOCKET_IMPLEMENTATION_REVIEW.md
Due: eslint-strict, typescript-strict

feat(api): enable enhanced WS router; fix employee path
  CashApp-iOS/CashAppPOS/src/services/DatabaseService.ts
  backend/app/api/v1/api.py
Due: python-syntax-check, docstring-check, eslint-strict, typescript-strict

Revert "feat(api): enable enhanced WS router; fix employee path"
  CashApp-iOS/CashAppPOS/src/services/DatabaseService.ts
  backend/app/api/v1/api.py
Due: python-syntax-check, docstring-check, eslint-strict, typescript-strict

fix: revert PR #559 changes and fix iOS bundle build issues
  CashApp-iOS/CashAppPOS/src/config/offlineConfig.ts
  CashApp-iOS/CashAppPOS/src/services/websocket/EnhancedWebSocketService.ts
  CashApp-iOS/CashAppPOS/src/utils/exponentialBackoff.ts
Due: eslint-strict, typescript-strict

fix: add missing index.js file to register React Native app
  CashApp-iOS/CashAppPOS/index.js
Due: eslint-strict

fix: correct type imports causing 'theme' undefined error
  CashApp-iOS/CashAppPOS/src/components/layout/Container.tsx
  CashApp-iOS/CashAppPOS/src/components/layout/ResponsiveGrid.tsx
Due: eslint-strict, typescript-strict

fix: critical iOS app loading issues
  CashApp-iOS/CashAppPOS/index.js
  CashApp-iOS/CashAppPOS/src/components/layout/Container.tsx
  CashApp-iOS/CashAppPOS/src/components/layout/ResponsiveGrid.tsx
  CashApp-iOS/CashAppPOS/src/navigation/SettingsNavigator.tsx
Due: eslint-strict, typescript-strict

fix: revert to pre-PR559 state and fix critical issues
  CashApp-iOS/CashAppPOS/index.js
  CashApp-iOS/CashAppPOS/src/components/layout/Container.tsx
  CashApp-iOS/CashAppPOS/src/components/layout/ResponsiveGrid.tsx
  CashApp-iOS/CashAppPOS/src/navigation/SettingsNavigator.tsx
Due: eslint-strict, typescript-strict

fix: properly convert module-level styles to function in SplitBillModal
  CashApp-iOS/CashAppPOS/src/components/cart/SplitBillModal.tsx
Due: eslint-strict, typescript-strict

fix: revert to last working state and fix build issues
  CashApp-iOS/CashAppPOS/metro.config.js
  CashApp-iOS/CashAppPOS/src/navigation/SettingsNavigator.tsx
Due: eslint-strict, typescript-strict

fix: add iOS build fix script to resolve app registration error
  CashApp-iOS/CashAppPOS/scripts/fix-ios-build.sh
Due: none

fix: add missing index.js entry point file
  CashApp-iOS/CashAppPOS/index.js
Due: eslint-strict

docs: add iOS app launch troubleshooting guide to CLAUDE.md
  CLAUDE.md
Due: none

fix: Complete SumUp Tap-to-Pay integration (Issue #397)
  CashApp-iOS/CashAppPOS/ios/CashAppPOS/CashAppPOS.entitlements
  CashApp-iOS/CashAppPOS/ios/CashAppPOS/Info.plist
  CashApp-iOS/CashAppPOS/scripts/monitor-pos-screen.sh
  CashApp-iOS/CashAppPOS/src/screens/payment/EnhancedPaymentScreen.tsx
Due: eslint-strict, typescript-strict

fix: Address payment validation and improve SumUp integration
  CashApp-iOS/CashAppPOS/TESTING_GUIDE.md
  CashApp-iOS/CashAppPOS/ios/CashAppPOS/CashAppPOS.entitlements
  CashApp-iOS/CashAppPOS/ios/CashAppPOS/Info.plist
  CashApp-iOS/CashAppPOS/src/screens/payment/EnhancedPaymentScreen.tsx
Due: eslint-strict, typescript-strict

fix: Remove invalid configurations causing build failures
  CashApp-iOS/CashAppPOS/ios/CashAppPOS/CashAppPOS.entitlements
  CashApp-iOS/CashAppPOS/ios/CashAppPOS/Info.plist
Due: none

Path conditions:
  python-syntax-check: any of: ^backend/.*\.py$
  docstring-check: any of: ^backend/.*\.py$
  eslint-strict: any of: ^CashApp-iOS/CashAppPOS/.*\.(ts|tsx|js|jsx)$
  typescript-strict: any of: ^CashApp-iOS/CashAppPOS/.*\.(ts|tsx)$
