Repository Lucid-Directions/cashapp-fynlo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, docstring-check, eslint-strict, typescript-strict

.pre-commit-config.yaml:

# Pre-commit hooks for Fynlo POS
# Prevents syntax errors from being committed

repos:
  # Python syntax and style checks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--select, E999, --fix]  # E999: SyntaxError
        files: ^backend/.*\.py$
        name: Check Python syntax errors
        description: Prevents committing files with syntax errors

  # Python syntax validation using py_compile
  - repo: local
    hooks:
      - id: python-syntax-check
        name: Validate Python syntax
        entry: python -m py_compile
        language: system
        files: ^backend/.*\.py$
        pass_filenames: true
        description: Compile Python files to check for syntax errors

  # Check for unterminated strings in docstrings
  - repo: local  
    hooks:
      - id: docstring-check
        name: Check for unterminated docstrings
        entry: python -c "import ast; import sys; ast.parse(open(sys.argv[1]).read())"
        language: system
        files: ^backend/.*\.py$
        pass_filenames: true
        description: Parse Python AST to detect unterminated strings

  # TypeScript and ESLint checks for React Native
  - repo: local
    hooks:
      - id: eslint-strict
        name: ESLint with strict rules
        entry: bash -c 'cd CashApp-iOS/CashAppPOS && npm run lint -- --max-warnings=0'
        language: system
        files: ^CashApp-iOS/CashAppPOS/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        description: Run ESLint with zero tolerance for warnings
        
      - id: typescript-strict
        name: TypeScript type checking
        entry: bash -c 'cd CashApp-iOS/CashAppPOS && npx tsc --noEmit'
        language: system
        files: ^CashApp-iOS/CashAppPOS/.*\.(ts|tsx)$
        pass_filenames: false
        description: Ensure TypeScript compiles without errors

      - id: no-console-check
        name: Check for console statements
        entry: 'bash -c ''grep -r "console\." --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" CashApp-iOS/CashAppPOS/src && echo "Console statements found!" && exit 1 || exit 0'''
        language: system
        pass_filenames: false
        description: Prevent console statements in production code

      - id: no-any-check
        name: Check for TypeScript any
        entry: 'bash -c ''grep -r ": any" --include="*.ts" --include="*.tsx" CashApp-iOS/CashAppPOS/src && echo "TypeScript any types found!" && exit 1 || exit 0'''
        language: system
        pass_filenames: false
        description: Prevent use of any type in TypeScript

# Configuration
fail_fast: true  # Stop on first error
default_stages: [pre-commit]

fix: Address cursor bot review findings
  CashApp-iOS/CashAppPOS/src/services/websocket/WebSocketAuthWorkaround.ts
  backend/fixes/fix_employee_endpoints.py
  backend/fixes/fix_websocket_auth.py
Due: python-syntax-check, docstring-check, eslint-strict, typescript-strict

fix: Properly address initial cursor bot findings
  backend/fixes/fix_employee_endpoints.py
Due: python-syntax-check, docstring-check

fix: Address ALL 7 cursor bot bugs comprehensively
  CashApp-iOS/CashAppPOS/src/services/websocket/WebSocketAuthWorkaround.ts
  backend/fixes/fix_employee_endpoints.py
  backend/fixes/fix_websocket_auth.py
Due: python-syntax-check, docstring-check, eslint-strict, typescript-strict

fix: resolve cursor bot findings - singleton config and base64 encoding
  CashApp-iOS/CashAppPOS/src/services/websocket/WebSocketAuthWorkaround.ts
Due: eslint-strict, typescript-strict

feat: Implement digital receipt generation and delivery system
  backend/MIGRATIONS_GUIDE.md
  backend/alembic/versions/add_customer_email_to_orders_20250811.py
  backend/alembic/versions/add_receipt_logs_table_20250811.py
  backend/app/api/v1/endpoints/orders.py
  backend/app/api/v1/endpoints/payments.py.backup
  backend/app/core/database.py
  backend/app/services/email_service.py
  backend/run_migration.py
Due: python-syntax-check, docstring-check

fix: Address PR Guardian blocker issues
  backend/app/api/v1/endpoints/orders.py
  backend/app/api/v1/endpoints/payments.py.backup
Due: python-syntax-check, docstring-check

fix: Resolve Cursor bot database session issues
  backend/app/api/v1/endpoints/orders.py
  backend/app/api/v1/endpoints/payments.py
  backend/app/services/receipt_helper.py
Due: python-syntax-check, docstring-check

fix: resolve final PR Guardian issues for receipt generation
  backend/app/api/v1/endpoints/orders.py
  backend/app/api/v1/endpoints/payments.py
Due: python-syntax-check, docstring-check

fix: resolve Cursor bot issues for PR #607
  backend/app/api/v1/endpoints/orders.py
  backend/app/api/v1/endpoints/payments.py
  backend/app/services/receipt_helper.py
Due: python-syntax-check, docstring-check

fix: Force SumUp to use Tap to Pay on iPhone following SDK v6.0 best practices
  CashApp-iOS/CashAppPOS/src/components/payment/NativeSumUpPayment.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/NativeSumUpService.ts
Due: eslint-strict, typescript-strict

fix: resolve critical PR Guardian blockers for PR #607
  backend/app/api/v1/endpoints/payments.py
Due: python-syntax-check, docstring-check

fix: Address cursor bot review findings for SumUp Tap to Pay
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentScreen.tsx
Due: eslint-strict, typescript-strict

fix: CRITICAL - Fix SumUp Tap to Pay modal not showing
  CashApp-iOS/CashAppPOS/src/components/payment/NativeSumUpPayment.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/SumUpPaymentComponent.tsx
  CashApp-iOS/CashAppPOS/src/navigation/MainNavigator.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/ServiceChargeSelectionScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/SumUpConfigService.ts
Due: eslint-strict, typescript-strict

fix: Address all cursor bot security vulnerabilities in PR #609
  CashApp-iOS/CashAppPOS/src/components/payment/NativeSumUpPayment.tsx
  CashApp-iOS/CashAppPOS/src/components/payment/SumUpPaymentComponent.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/SumUpConfigService.ts
Due: eslint-strict, typescript-strict

fix: Critical SumUp Tap to Pay fixes - backend config, validation, and UI updates
  CashApp-iOS/CashAppPOS/src/components/payment/PaymentErrorRecovery.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/EnhancedPaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/SumUpCompatibilityService.ts
  backend/.env
  backend/app/api/v1/endpoints/sumup.py
  test-sumup-flow.sh
Due: python-syntax-check, docstring-check, eslint-strict, typescript-strict

fix: Address security concerns from Cursor bot review
  backend/.env
  backend/SUMUP_SETUP.md
  test-sumup-flow.sh
Due: none

fix: CRITICAL - Process Payment button was calling demo handler instead of SumUp
  CashApp-iOS/CashAppPOS/src/screens/payment/EnhancedPaymentScreen.tsx
Due: eslint-strict, typescript-strict

fix: force native SumUp module for all payment methods to prevent demo alerts
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentScreen.tsx
Due: eslint-strict, typescript-strict

fix: add missing Google Pay handler and remove duplicate style properties
  CashApp-iOS/CashAppPOS/src/screens/payment/EnhancedPaymentScreen.tsx
Due: eslint-strict, typescript-strict

feat: Enable enhanced cart store with AsyncStorage persistence
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/ServiceChargeSelectionScreen.tsx
  CashApp-iOS/CashAppPOS/src/store/__tests__/cartPersistence.test.ts
  CashApp-iOS/CashAppPOS/src/store/cartStoreAdapter.ts
Due: eslint-strict, typescript-strict

fix: Address PR Guardian linting issues
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/store/cartStoreAdapter.ts
Due: eslint-strict, typescript-strict

fix: connect SumUpNativeService to native iOS module - fixes #397
  CashApp-iOS/CashAppPOS/src/services/SumUpNativeService.ts
  CashApp-iOS/CashAppPOS/test-sumup-bridge.js
Due: eslint-strict, typescript-strict

fix: remove undefined SumUpPaymentComponent reference and add integration test
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentScreen.tsx
  CashApp-iOS/CashAppPOS/test-sumup-flow.sh
Due: eslint-strict, typescript-strict

fix: critical native bridge alignment issues identified by review
  CashApp-iOS/CashAppPOS/src/services/SumUpNativeService.ts
  CashApp-iOS/CashAppPOS/test-sumup-bridge.js
  CashApp-iOS/CashAppPOS/test-sumup-flow.sh
Due: eslint-strict, typescript-strict

fix: Align PaymentScreen with enhanced cart store values
  .claude/AGENT_MIGRATION_NOTICE.md
  .claude/use-agent.sh
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentScreen.tsx
  DOCS/cart-enhancement-plan.md
Due: eslint-strict, typescript-strict

fix: Align PaymentScreen with enhanced cart store values
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentScreen.tsx
Due: eslint-strict, typescript-strict

feat: implement core item modifications functionality
  CashApp-iOS/CashAppPOS/src/__tests__/integration/modifications.integration.test.tsx
  CashApp-iOS/CashAppPOS/src/components/cart/ItemModificationModal.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/__tests__/ModificationPricingService.integration.test.ts
Due: eslint-strict, typescript-strict

docs: update cart enhancement plan with PR #2A completion
  DOCS/cart-enhancement-plan.md
Due: none

fix: Remove all mock data and fake authentication from payment flow
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/ApplePayService.ts
  CashApp-iOS/CashAppPOS/src/services/DatabaseService.ts
  CashApp-iOS/CashAppPOS/src/services/SumUpService.ts
Due: eslint-strict, typescript-strict

fix: Correct SumUp payment method calls and parameter names
  CashApp-iOS/CashAppPOS/src/services/SumUpService.ts
Due: eslint-strict, typescript-strict

feat: Add visual indicators and enhanced cart display for item modifications
  CashApp-iOS/CashAppPOS/src/components/cart/ItemModificationModal.tsx
  CashApp-iOS/CashAppPOS/src/components/cart/ModificationBadge.tsx
  CashApp-iOS/CashAppPOS/src/components/cart/ModificationSummary.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
Due: eslint-strict, typescript-strict

fix: Add unique ID generation for modified cart items
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/store/useEnhancedCartStore.ts
Due: eslint-strict, typescript-strict

fix: Critical - unify to single correct NativeSumUpService
  CashApp-iOS/CashAppPOS/App.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentProcessingScreen.tsx
  CashApp-iOS/CashAppPOS/src/services/SumUpNativeService.ts
  CashApp-iOS/CashAppPOS/src/services/SumUpService.ts
Due: eslint-strict, typescript-strict

fix: Address PR #613 enhanced cart persistence issues
  CashApp-iOS/CashAppPOS/src/__tests__/utils/testUtils.ts
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/ServiceChargeSelectionScreen.tsx
  CashApp-iOS/CashAppPOS/src/store/useEnhancedCartStore.ts
  DOCS/cart-enhancement-plan.md
Due: eslint-strict, typescript-strict

fix: Ensure SDK setup before payment processing
  CashApp-iOS/CashAppPOS/App.tsx
  CashApp-iOS/CashAppPOS/src/services/SumUpService.ts
Due: eslint-strict, typescript-strict

fix: Address PR #613 Cursor bot findings - async migration and transaction fee calculation
  CashApp-iOS/CashAppPOS/src/screens/payment/ServiceChargeSelectionScreen.tsx
  CashApp-iOS/CashAppPOS/src/store/useEnhancedCartStore.ts
Due: eslint-strict, typescript-strict

fix: Unify ALL payment screens to use NativeSumUpPayment
  CashApp-iOS/CashAppPOS/src/components/payment/SumUpPaymentComponent.tsx
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/EnhancedPaymentScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/PaymentProcessingScreen.tsx
Due: eslint-strict, typescript-strict

fix: Critical fixes from review - visible prop and performance
  CashApp-iOS/CashAppPOS/src/components/payment/index.ts
  CashApp-iOS/CashAppPOS/src/screens/main/POSScreen.tsx
  CashApp-iOS/CashAppPOS/src/screens/payment/EnhancedPaymentScreen.tsx
Due: eslint-strict, typescript-strict

fix: Move Alert.alert() out of JSX to prevent repeated popups
  CashApp-iOS/CashAppPOS/src/screens/payment/EnhancedPaymentScreen.tsx
Due: eslint-strict, typescript-strict
